.field-masked
    h3 masked text field
    +form('email','email','Еmail')


    //- form.field-masked__form
    //-     input(class='field-masked__form-input' type='date' pattern="(1[0-2]|0[1-9])\/(1[5-9]|2\d)" data-valid-example="05/18")