@import '../../normalize.css';
@import '../../colors-and-type/colors-and-type.scss';
@import '../../fonts/fonts.scss';
@import '../../blocks/header-and-footer/header-and-footer.scss';
@import '../../form-elements/form-elements.scss';
@import '../../cards/cards.scss';

.room-details {

    .header {
        position: relative;
        z-index: 1;
        height: 4.86%;
    }

    .content {

        h2 {
            margin-bottom: 20px;
        }

        &__image {
            display: flex;
            width: 100%;
            height: 485px;

            &--big {
                flex-grow: 2;
                background-image: url("image/image_1.png");
                background-repeat: no-repeat;
                background-position: center;
                background-size: 100% 100%;
            }

            &--small {
                flex-grow: 1;
                display: flex;
                flex-direction: column;

                &-1 {
                    flex-grow: 1;
                    background-image: url("image/image_2.png");
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 100% 100%;
                }

                &-2 {
                    flex-grow: 1;
                    background-image: url("image/image_3.png");
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 100% 100%;

                }
            }
        }

        &__details {
            padding: 70px 140px;
            display: flex;
            justify-content: space-between;

            &--left {
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                flex-grow: 2;
                padding-right: 70px;

                .info {
                    display: flex;
                    flex-direction: row;
                    margin-bottom: 30px;

                    &__data {
                        margin-right: 100px;

                        .case:nth-child(4)/*?*/ {
                            margin-bottom: 0;
                        }
                    }
                }

                .reviews {
                    

                    &__header {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-bottom: 20px;

                        h2 {
                            margin-bottom: 0;
                        }

                        p {
                            color: $dark_50-color;
                        }
                    }

                    .comment-container {
                        margin-bottom: 20px;

                        .avatar-1 {
                            background-image: url("image/avatar_1.png");
                        }

                        .avatar-2 {
                            background-image: url("image/avatar_2.png");
                        }
                    }
                    .comment-container:last-child {
                        margin-bottom: 5px;

                    }
                }

                .additionally {
                    display: flex;

                    .rules {
                        margin-right: 0px;

                        h2 {
                            margin-left: 20px;
                        }
                    }

                    .cancellation {
                        word-wrap: break-word;

                        p {
                            line-height: 24px;
                            max-width: 343px;
                        }
                    }
                }
            }

            &--right {
            }
        }
    }
}


// pie chart

.chart-text {
  fill: $purple-color;
//   -moz-transform: translateY(0.25em);
//   -ms-transform: translateY(0.25em);
//   -webkit-transform: translateY(0.25em);
//   transform: translateY(0.25em);
}

.chart-number {
  font-size: 0.6em;
  font-weight: bold;
  text-anchor: middle;
//   -moz-transform: translateY(-0.25em);
//   -ms-transform: translateY(-0.25em);
//   -webkit-transform: translateY(-0.25em);
  transform: translateY(-0.25em);
}

.chart-label {
  font-size: 0.3em;
  font-weight: bold;
  text-transform: uppercase;
  text-anchor: middle;
//   -moz-transform: translateY(0.7em);
//   -ms-transform: translateY(0.7em);
//   -webkit-transform: translateY(0.7em);
  transform: translateY(0.7em);
}

figure {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    // margin-left: -15px;
    // margin-right: -15px;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

@media (min-width: 768px) {
figure {
    flex-direction: row;
}
}

.figure-content,
.figure-key {
flex: 1;
align-self: center;
}

.figure-content svg {
height: auto;
}

.figure-key {
min-width: calc(8 / 12);
}

.figure-key [class*="shape-"] {
margin-right: 6px;
}

.figure-key-list {
margin: 0;
padding: 0;
list-style: none;
display: flex;
flex-direction: column;
}

.figure-key-list li {
margin: 0 0 14px;
padding: 0;
}

.shape-circle {
display: inline-block;
vertical-align: middle;
width: 10px;
height: 10px;
-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
        border-radius: 50%;
}

.shape-puprple {
background-color: #BC9CFF;
}

.shape-green {
background-color: #6FCF97;
}

.shape-orange {
background-color: #FFE39C;
}

.sr-only {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
padding: 0;
overflow: hidden;
clip: rect(0,0,0,0);
border: 0;
}
.donut-segment {
    cursor: pointer;
}
.donut-segment:hover {
    stroke-width: 3;
}