@import '../../normalize.css';
@import '../../colors-and-type/colors-and-type.scss';
@import '../../fonts/fonts.scss';
@import '../../blocks/header-and-footer/header-and-footer.scss';
@import '../../form-elements/form-elements.scss';
@import '../../cards/cards.scss';

.room-details {

    .header {
        position: relative;
        z-index: 1;
        height: 4.86%;
    }

    .content {

        h1 {
            margin-bottom: 20px;
        }

        &__image {
            display: flex;
            width: 100%;
            height: 485px;

            &--big {
                flex-grow: 2;
                background-image: url("image/image_1.png");
                background-repeat: no-repeat;
                background-position: center;
                background-size: 100% 100%;
            }

            &--small {
                flex-grow: 1;
                display: flex;
                flex-direction: column;

                &-1 {
                    flex-grow: 1;
                    background-image: url("image/image_2.png");
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 100% 100%;
                }

                &-2 {
                    flex-grow: 1;
                    background-image: url("image/image_3.png");
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 100% 100%;

                }
            }
        }

        &__details {
            height: 799px;
            padding: 70px 140px;
            display: flex;
            justify-content: space-between;

            &--left {
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                flex-grow: 2;
                padding-right: 70px;

                .info {
                    display: flex;
                    flex-direction: row;

                    &__data {
                        margin-right: 70px;

                    }
                }

                .reviews {

                    &__header {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-bottom: 20px;

                        h1 {
                            margin-bottom: 0;
                        }

                        p {
                            color: $dark_50-color;
                        }
                    }

                    .comment-container {
                        margin-bottom: 22px;

                        .avatar-1 {
                            background-image: url("image/avatar_1.png");
                        }

                        .avatar-2 {
                            background-image: url("image/avatar_2.png");
                        }
                    }
                }

                .additionally {
                    display: flex;

                    .rules {
                        margin-right: 70px;
                    }

                    .cancellation {
                        word-wrap: break-word;

                        p {
                            line-height: 24px;
                            max-width: 343px;
                        }
                    }
                }
            }

            &--right {
            }
        }
    }
}