doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="shortcut icon" href="src/img/favicon.ico" type="image/x-icon")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        title toxin
    body
        .room-details
            .header
                include ../../blocks/header-and-footer/header/__nav/header__nav.pug
                +header-nav([
                    {text: "О нас", icon: ""},
                    {text: "Услуги", icon: "expand_more"},
                    {text: "Вакансии", icon: ""},
                    {text: "Новости", icon: ""},
                    {text: "Соглашения", icon: "expand_more"}
                    ],{registered: false},
                    {nickname: 'Cosmin Negoita'},
                    'войти','../sign-in/sign-in.pug',
                    'зарегистрироваться','../registration/registration.pug')

            .content
                .content__image
                    .content__image--big
                    .content__image--small
                        .content__image--small-1
                        .content__image--small-2
                .content__details
                    .content__details--left
                        .info
                            .info__data
                                h2 Сведения о номере
                                include ..\..\form-elements\info\case\case.pug
                                +case({icon: "mood", text_bold: "Комфорт", text: "Шумопоглощающие стены", class: "case--underlined"})
                                +case({icon: "location_city", text_bold: "Удобство", text: "Окно в каждой из спален", class: "case--underlined"})
                                +case({icon: "whatshot", text_bold: "Уют", text: "Номер оснащён камином"})
                            .info__impressions
                                h2 Впечатления от номера

                                figure
                                    .figure-content
                                        svg(width="125%" height="125%" viewBox="3 4 42 42" class="donut" aria-labelledby="beers-title beers-desc" role="img")
                                            title(id="beers-title") Впечатления от номера
                                            desc(id="beers-desc") Donut chart showing 10 total beers. Two beers are Imperial India Pale Ales, four beers are Belgian Quadrupels, and three are Russian Imperial Stouts. The last remaining beer is unlabeled.
                                            circle(class="donut-hole" cx="21" cy="21" r="15.91549430918954" fill="transparent" role="presentation")
                                            circle(class="donut-ring" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#fff" stroke-width="1" role="presentation")

                                            // Окружность - общая длина всех предыдущих сегментов + смещение первого сегмента = смещение текущего сегмента

                                            circle(class="donut-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#BC9CFF" stroke-width="1" stroke-dasharray="24 76" stroke-dashoffset="24" aria-labelledby="donut-segment-1-title donut-segment-1-desc")
                                                title(id="donut-segment-1-title") Удовлетворительно
                                                desc(id="donut-segment-1-desc") Pink chart segment spanning 40% of the whole, which is 4 Belgian Quadrupels out of 10 total.

                                            circle(class="donut-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#6FCF97" stroke-width="1" stroke-dasharray="24 76" stroke-dashoffset="99")
                                                title(id="donut-segment-2-title") Хорошо
                                                desc(id="donut-segment-2-desc") Green chart segment spanning 20% of the whole, which is 2 Imperial India Pale Ales out of 10 total

                                            circle(class="donut-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#FFE39C" stroke-width="1" stroke-dasharray="49 51" stroke-dashoffset="74")
                                                title(id="donut-segment-3-title") Великолепно
                                                desc(id="donut-segment-3-desc") Blue chart segment spanning 3% of the whole, which is 3 Russian Imperial Stouts out of 10 total.

                                            g.chart-text
                                                text(x="50%" y="50%" class="chart-number") 260
                                                text(x="50%" y="50%" class="chart-label") голосов

                                    figcaption.figure-key
                                        ul(class="figure-key-list" aria-hidden="true" role="presentation")
                                            li.shape-orange
                                                i.material-icons fiber_manual_record
                                                p Великолепно
                                            li.shape-green
                                                i.material-icons fiber_manual_record
                                                p Хорошо
                                            li.shape-puprple
                                                i.material-icons fiber_manual_record
                                                p Удовлетворительно
                                            li.shape-dark
                                                i.material-icons fiber_manual_record
                                                p Разочарован

                        .reviews
                            .reviews__header
                                h2 Отзывы посетителей номера
                                p 2 отзыва
                            include ..\..\form-elements\review\comment-container\comment-container.pug
                            +comment({
                                classAvatar: "avatar-1",
                                name: "Мурад Сарафанов",
                                date: "5 дней назад",
                                likes: "12",
                                classLike: "like-button__pressed",
                                text: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей."
                                })
                            +comment({
                                classAvatar: "avatar-2",
                                name: "Патрисия Стёклышкова",
                                date: "Неделю назад",
                                likes: "2",
                                classLike: "like-button__not-pressed",
                                text: "Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент"
                                })

                        .additionally
                            .rules
                                h2 Правила
                                include ..\..\form-elements\bullet-list\bullets\bullets.pug
                                +bullets
                            .cancellation
                                h2 Отмена
                                p Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.


                    .content__details--right
                        include ..\..\cards\cards__column--item-3\booking\booking.pug
                        +booking({number: "888", luxe: "люкс", cost: "9 990"})


            include ../../blocks/header-and-footer/footer/footer.pug
            +footer(
                {info: "Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»"},
                [{item: "навигация"}, {item: "О нас"}, {item: "Новости"}, {item: "Служба поддержки"}, {item: "Услуги"}],
                [{item: "о нас"}, {item: "О сервисе"}, {item: "Наша команда"}, {item: "Вакансии"}, {item: "Инвесторы"}],
                [{item: "Служба поддержки"}, {item: "Соглашения"}, {item: "Сообщества"}, {item: "Связь с нами"}],
                {title: "Подписка", content: "Получайте специальные предложения и новости сервиса"},
                {copyright: "Copyright © 2018 Toxin отель. Все права защищены."}
                )