doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        title toxin
    body
        .room-details
            .header
                include ../../blocks/header-and-footer/header/__nav/header__nav.pug
                +header-nav([
                    {text: "О нас", icon: ""},
                    {text: "Услуги", icon: "expand_more"},
                    {text: "Вакансии", icon: ""},
                    {text: "Новости", icon: ""},
                    {text: "Соглашения", icon: "expand_more"}
                    ],{registered: false},
                    {nickname: 'Cosmin Negoita'},
                    'войти','../sign-in/sign-in.pug',
                    'зарегистрироваться','../registration/registration.pug')

            .content
                .content__image
                    .content__image--big
                    .content__image--small
                        .content__image--small-1
                        .content__image--small-2
                .content__details
                    .info
                        .info__data
                            
                        .info__impressions
                    .reviews


            include ../../blocks/header-and-footer/footer/footer.pug


        script(src='room-details.js')