.radio-buttons {
  // width: 220.74px;
  height: 55px;
  margin-top: 40px;
}
.radio-buttons h3 {
  margin-bottom: 16px;
}
.radio-buttons__items {
  display: flex;
}
.radio-buttons__item input[type='radio'] {
  display: none;
}
.radio-buttons__item label {
  color: $dark_50-color;
  text-transform: none;
  cursor: pointer;
  margin-right: 20px;
}
.radio-buttons__item label::before {
  content: '';
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: middle;
  background: #ffffff;
  border: 1px solid $dark_25-color;
  box-sizing: border-box;
  border-radius: 10px;
  margin-right: 10px;
  cursor: pointer;
}
.radio-buttons__item input[type='radio']:checked + label::before {
  background-repeat: no-repeat;
  background-position-x: 2px;
  background-position-y: 2px;
  background-image: url('../../form-elements/radio-buttons/svg/circle-solid.svg');
  border: 1px solid #bc9cff;
}
#radiobtn1:checked + label {
  color: $dark_75-color;
}
#radiobtn2:checked + label {
  color: $dark_75-color;
}
