include ../header/header
include ../footer/footer

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='shortcut icon', href='favicons/favicon.ico', type='image/x-icon')
    block title
      title main
  body
    .wrapper
      block header
        +header({ list: [
          {title: 'О нас'},
          {title: 'Услуги', more: true},
          {title: 'Вакансии'},
          {title: 'Новости'},
          {title: 'Соглашения', more: true},
        ], reg: {on: false}, buttons: {title1: 'Войти', title2: 'Зарегистрироваться'}})

      .content__wrapper
        block content
      block footer
        +footer({
          info: 'Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»',
          list1: [
            {title: 'Навигация', bold: 'item--bold'},
            {title: 'О нас'},
            {title: 'Новости'},
            {title: 'Служба поддержки'},
            {title: 'Услуги'}
          ],
          list2: [
            {title: 'О нас', bold: 'item--bold'},
            {title: 'О сервисе'},
            {title: 'Наша команда'},
            {title: 'Вакансии'},
            {title: 'Инвесторы'}
          ],
          list3: [
            {title: 'Служба поддержки', bold: 'item--bold'},
            {title: 'Соглашения'},
            {title: 'Сообщества'},
            {title: 'Связь с нами'}
          ],
          title: 'Подписка',
          text: 'Получайте специальные предложения и новости сервиса',
          placeholder: 'Email',
          copyright: 'Copyright © 2018 Toxin отель. Все права защищены.'
        })

