include ../footer/footer

doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='shortcut icon', href='images/favicon.ico', type='image/x-icon')

    block title
      title main
  body
    .wrapper
      block header

      block content

      +footer({
        info: "Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»"
        }, 
        [
          {item: "навигация"}, 
          {item: "О нас"}, 
          {item: "Новости"}, 
          {item: "Служба поддержки"}, 
          {item: "Услуги"}
        ], 
        [
          {item: "о нас"},
          {item: "О сервисе"},
          {item: "Наша команда"},
          {item: "Вакансии"},
          {item: "Инвесторы"}
        ],
        [
          {item: "Служба поддержки"},
          {item: "Соглашения"}, 
          {item: "Сообщества"}, 
          {item: "Связь с нами"}
        ], {
          title: "Подписка", 
          content: "Получайте специальные предложения и новости сервиса"
          },{
          copyright: "Copyright © 2018 Toxin отель. Все права защищены."
        })
