$dark_75-color: rgba(31, 32, 65, 0.75);
$dark_50-color: rgba(31, 32, 65, 0.5);
$primary-color: #BC9CFF;

.header {
    padding: 0;
    height: 70px;
    background-color: #FFFFFF;
    width: 1440px;
}
.header ul, .header li {
    display: block;
    padding: 0;
    margin: 0;
}
.header .header__container{
    margin: 10px 0;
}
.header .header__nav {
    padding: 15px 0;
    align-items: center;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
.header .header__logo {
    display: block;
    background-image: url('/header-and-footer/header/svg/logo.svg');
    width: 105.69px;
    height: 40px;
    margin-left: 140px;
}
.header .header__menu {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin-left: auto;
}
.header .header__menu__item {
    margin-right: 28px;
}
.header .header__menu__item:nth-child(3) {
    margin-right: 0px;
}
.header .header__menu__item:nth-child(4) {
    align-items: center;
    display: flex;
    margin-left: 6px;
    text-align: bottom;
    margin-top: 3px;
}
.header .header__menu__item:nth-child(4) a:hover {
    border: none;
}
.header .header__menu__item a {
    color: $dark_50-color;
    font-style: normal;
    font-weight: normal;
}
.header .header__menu__item a:hover {
    border-bottom: 1px solid $dark_50-color;
}
.header a {
    text-decoration: none;
    transition: all 0.5s ease;
}
.header .header__home-bold a {
    margin-right: 2px;
    font-weight: bold;
    color: $dark_75-color;
}
.header .header__btn{
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    border-radius: 22px;
    text-transform: uppercase;
    padding: 10px 0;
    display: block;
    text-decoration: none;
    line-height: 12px;
    text-align: center;
    // height: 30px;
}
.header .header__btn-login {
    width: 75px;
    color: $primary-color;
    border: 2px solid $primary-color;
    margin-right: 20px;
}
.header .header__btn-login:hover {
    background: #BC9CFF;
    color: #fff;
}
.header .header__btn-register {
    width: 97px;
    background: linear-gradient(180deg, $primary-color 0%, #8BA4F9 100%);
    color: #FFFFFF;
    border: 2px solid $primary-color;
    margin-right: 140px;
}
.header .header__expand {
    display: block;
    background-image: url('/header-and-footer/header/svg/expand.svg');
    width: 12px;
    height: 8px;
}