mixin room-photos({}={})
  .room-photos
    img.room-photos__item(src="img/details-1.jpg" alt="room-photo")
    img.room-photos__item(src="img/details-2.jpg" alt="room-photo")
    img.room-photos__item(src="img/details-3.jpg" alt="room-photo")
