.header .logo {
    display: block;
    background-image: url('/blocks/header-and-footer/header/__nav/logo/svg/logo.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 7.34vw;
    height: 100%;
}
