.checkbox-buttons__rich
    h3 rich Checkbox Buttons
    +checkboxbtn('Широкий коридор','checkbtnrich1')
    p Ширина коридоров в номере не менее 91 см.

    +checkboxbtn('Помощник для инвалидов','checkbtnrich2')
    p На 1 этаже вас встретит специалист  и проводит до номера.