.rate-button-container {
    margin-top: 46px;
    position: relative;
    margin-bottom: 238px;
}
.rate-button-name {
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    color: $dark_100-color;
    margin-bottom: 16px;
    display: block;
}

@import 'rate-button/rate-button.scss';