mixin slider({ title='', footnote='' }={})
  .slider
    .slider__header
      h3.slider__title= title
      input.slider__val.js-slider__val(type='text')
    .js-slider
    if footnote
      .slider__footnote= footnote
