mixin slider({ title='', footnote='' }={})
  .slider.js-slider
    .slider__header
      h3.slider__title= title
      input.slider__val.js-slider__val(type="text")
    .js-container
    if footnote
      .slider__footnote= footnote
