extends ../../blocks/layout/layout

block title
  title ui-kit

block header
block content
  .ui-kit
    a(href="form-elements.html") form-elements
    //- include ../../blocks/form-elements/form-elements.pug
    //- include ../../blocks/header-and-footer/header-and-footer.pug
    //- include ../../blocks/cards/cards.pug
  //- script(src='ui-kit.js')
