@import '../../colors-and-type/colors-and-type.scss';

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 19px;
  font-family: 'montserrat', 'open-sans', sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  background: $gradient-color;
  border: none;
  border-radius: 22px;
  cursor: pointer;
  width: -webkit-fill-available;

  &_theme_border {
    color: $purple-color;
    background: #fff;
    border: 2px solid $purple-color;
    padding: 0 17px;
  }

  &_disabled {
    opacity: 0.5;
    cursor: auto;
  }

  &_size_small {
    padding: 0;
    background: none;
    color: $purple-color;
  }

  &_size_small + &_theme_disabled {
    color: $dark_50-color;
  }

  &_size_long {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__icon {
    font-size: 24px;
    line-height: 24px;
    position: absolute;
    color: #FFFFFF;
    right: 3%;
  }

  &:hover {
    opacity: 0.5;
  }
}
