extends ../../blocks/layout/layout

include ../../blocks/search/search

block title
  title landing page

block content
  main.landing
    .landing__search
      +search({ title: 'Найдём номера под ваши пожелания' })
    .landing__note Лучшие номера для вашей работы, отдыха и просто вдохновения
