input {
    box-sizing: border-box;
    border-radius: 4px;
    background: #FFFFFF;
    border: 1px solid $dark_25-color;
    width: 100%;
    line-height: 18px;
    padding: 12px 15px;
    color: $dark_75-color;

    @media (min-width: 1600px) {
        padding: 0.833vw 1.041vw;
        line-height: 1.25vw;
    }

    &:placeholder {
        color: $dark_25-color;
    }
}
