@import '../../colors-and-type/colors-and-type.scss';

.pagination {
  max-width: 241px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }

  &__item {
    width: 40px;
    height: 40px;
    font-size: 12px;
    text-align: center;
    color: $dark_50-color;
    line-height: 40px;
    border-radius: 22px;
    cursor: pointer;

    &_theme_current {
      font-weight: bold;
      color: #FFFFFF;
      background: $gradient-color;
    }

    &_theme_next {
      background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);

      &:after {
        cursor: pointer;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-color: #fff;
        font-family: 'material-icons';
        font-size: 24px;
        content: 'arrow_forward';
  
      }
    }
  
  }

  &__footnote {
    text-align: center;
  }
}