mixin pagination({ footnote='' })
  .pagination
    .pagination__wrapper
      .pagination__item.pagination__item_theme_current 1
      .pagination__item 2
      .pagination__item 3
      .pagination__item ...
      .pagination__item 15
      .pagination__item.pagination__item_theme_next
    .pagination__footnote= footnote
