mixin guests(title)
  .guests
    .field-guests= title
      i.material-icons expand_more
    //dropdown
    .dropdown-guests
      .dropdown-container
        .dropdown-container-text взрослые
        .quantity
          input#adults(type='number', min='0', max='9', step='1', value='0')

      .dropdown-container
        .dropdown-container-text дети
        .quantity
          input#childs(type='number', min='0', max='9', step='1', value='0')

      .dropdown-container
        .dropdown-container-text младенцы
        .quantity
          input#babies(type='number', min='0', max='9', step='1', value='0')
      //clear-apply
      .dropdown-container.container__clear-apply
        .clear-quantity-invisible очистить
        .apply-quantity применить
