div(class='radio-buttons')
    div(class='radio-buttons__name') Radio Buttons
    div(class='radio-buttons__item')
        input(id='radiobtn1' type='radio' name='radio' class='radio-buttons__input')
        label(for='radiobtn1') Мужчина
    div(class='radio-buttons__item')
        input(id='radiobtn2' type='radio' name='radio' class='radio-buttons__input')
        label(for='radiobtn2') Женщина