.radio-buttons
    .radio-buttons__name Radio Buttons
    .radio-buttons__items
        .radio-buttons__item
            input(id='radiobtn1' type='radio' name='radio')
            label(for='radiobtn1') Мужчина
        .radio-buttons__item
            input(id='radiobtn2' type='radio' name='radio')
            label(for='radiobtn2') Женщина