extends ../../blocks/layout/layout

include ../../blocks/footer/footer

block title 
  title toxin
block content
  .sign-in
  .header
    include ../../blocks/header-and-footer/header/__nav/header__nav.pug
    +header-nav([ {text: "О нас", icon: ""}, {text: "Услуги", icon: "expand_more"}, {text: "Вакансии", icon: ""}, {text: "Новости", icon: ""}, {text: "Соглашения", icon: "expand_more"} ],{registered: false}, {nickname: 'Cosmin Negoita'}, 'войти','../sign-in/sign-in.pug', 'зарегистрироваться','../registration/registration.pug')

  //- .content
  //-   include ../../blocks/cards/cards__column--item-4/account-login/account-login.pug

