doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='shortcut icon', href='img/favicon.ico', type='image/x-icon')
    link(
      href='https://fonts.googleapis.com/icon?family=Material+Icons',
      rel='stylesheet'
    )
    title toxin
  body
    .sign-in
      .header
        include ../../blocks/header-and-footer/header/__nav/header__nav.pug
        +header-nav([ {text: "О нас", icon: ""}, {text: "Услуги", icon: "expand_more"}, {text: "Вакансии", icon: ""}, {text: "Новости", icon: ""}, {text: "Соглашения", icon: "expand_more"} ],{registered: false}, {nickname: 'Cosmin Negoita'}, 'войти','../sign-in/sign-in.pug', 'зарегистрироваться','../registration/registration.pug')

      .content
        include ../../blocks/cards/cards__column--item-4/account-login/account-login.pug

      include ../../blocks/header-and-footer/footer/footer.pug
      +footer({info: "Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»"}, [{item: "навигация"}, {item: "О нас"}, {item: "Новости"}, {item: "Служба поддержки"}, {item: "Услуги"}], [{item: "о нас"}, {item: "О сервисе"}, {item: "Наша команда"}, {item: "Вакансии"}, {item: "Инвесторы"}], [{item: "Служба поддержки"}, {item: "Соглашения"}, {item: "Сообщества"}, {item: "Связь с нами"}], {title: "Подписка", content: "Получайте специальные предложения и новости сервиса"}, {copyright: "Copyright © 2018 Toxin отель. Все права защищены."})
