mixin radio-buttons({ items=[] }={})
  .radio-buttons
    each item in items
      .radio-buttons__wrapper
        label.radio-buttons__label= item.label
          input.radio-buttons__input(type="radio", name=item.name, checked=item.checked)
          .radio-buttons__marker
