mixin radio-buttons({ title='', items=[] }={})
  .radio-buttons
    h3.radio-buttons__header= title
    each item in items
      label.radio-buttons__label= item.label
        input.radio-buttons__input(type='radio', name=item.name, checked=item.checked)
        .radio-buttons__marker
