@import '/normalize.css';
@import '/colors-and-type/colors-and-type.scss';
@import '/fonts/fonts.scss';
@import '/form-elements/form-elements.scss';
@import '/cards/cards.scss';
@import '/blocks/header-and-footer/header-and-footer.scss';

.search-room {
    background-color: #fff;

    .header {
        position: relative;
        z-index: 1;
    }

    .content {
        padding: 2.2% 9.72% 4.79%;

        .filters {
            display: flex;

            .filters__bar {

                .dropdown-filter {
                    margin-bottom: 20px;
                }

                .dropdown_default {
                    margin-bottom: 30px;

                    .guests {
                    width: 266px;
                    }
                }

                .range-slider-container {
                    margin-bottom: 32px;

                    p {
                        font-size: 12px;
                        line-height: 14px;
                        color: $dark_50-color;
                        margin-top: 12px;
                    }

                    .range-slider {
                        margin-bottom: 22px;
                    }
                }

                .checkbox-buttons__rich {
                    margin-top: 30px;
                    margin-bottom: 30px;
                }

                .dropdown_default__furniture {
                    margin-bottom: 16px;
                }
            } 
        }
    }
}
