.search-room {
  max-width: 1920px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 26px 9.72% 73px;

  @media(max-width: 1024px) {
    grid-template-columns: 1fr 2fr;
    padding: 26px 5% 73px;
  }

  @media(max-width: 824px) {
    grid-template-columns: none;
    justify-items: center;
  }

  &__sidebar {
    max-width: 266px;

    .sidebar__item {
      margin-bottom: 20px;

      .checkbox {
        max-width: 240px;
      }

      .dropdown-guests-title {
        margin-bottom: 4px;
      }

      .slider,
      .checkbox-buttons {
        margin-top: 30px;
      }

      .rich-checkbox-header {
        margin-top: 32px;
        margin-bottom: 15px;
      }

      .rich-checkbox {
        margin-bottom: 12px;
      }

      .dropdown-rooms-title {
        margin-bottom: 4px;
        margin-top: 28px;
      }

      .checkbox-list {
        margin-top: 25px;
      }
    }
  }

  &__samples {
    display: grid;
    margin-left: 36px;
    margin-top: 5px;

    @media(max-width: 824px) {
      margin-left: 0;
    }

    &-header {
      margin-bottom: 20px;
    }
    &-wrapper {
      display: grid;
      justify-items: center;
      grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
      row-gap: 20px;
      column-gap: 12px;
      margin-bottom: 41px;
    }

    .pagination {
      justify-self: center;
      margin-right: 15px;
    }
  }
}