.search-room {
  max-width: 1920px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 26px 9.72% 73px;

  @media(max-width: 1024px) {
    grid-template-columns: 1fr 2fr;
    padding: 26px 5% 73px;
  }

  @media(max-width: 824px) {
    grid-template-columns: none;
    justify-items: center;
  }

  &__sidebar {
    max-width: 266px;
  }

  &__dropdown-quests {
    margin-top: 20px;
  }

  &__dropdown-quests-title {
    margin-bottom: 3px;
  }

  &__slider {
    margin-top: 30px;
  }

  &__checkbox-buttons {
    margin-top: 31px;
    max-width: 230px;
  }

  &__checkbox-buttons-title {
    margin-bottom: 10px;
  }

  &__rich-checkbox {
    margin-top: 25px;
  }

  &__rich-checkbox-title {
    margin-bottom: 15px;
  }

  &__rich-checkbox-wrapper {
    max-width: 260px;
    margin: 10px 0;
  }

  &__dropdown-comfort {
    margin-top: 30px;
  }

  &__dropdown-comfort-title {
    margin-bottom: 3px;
  }

  &__checkbox-list {
    margin-top: 26px;
  }

  &__samples {
    display: grid;
    padding: 4px 0 0 35px;

    @media(max-width: 824px) {
      padding: 4px 0 0 0;
    }
  }

  &__samples-header {
    margin-bottom: 20px;
  }

  &__samples-wrapper {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    row-gap: 19px;
    column-gap: 12px;
    margin-bottom: 39px;
  }

  &__pagination {
    justify-self: center;
    margin-right: 14px;
  }

}