extends ../../blocks/layout/layout

include ../../blocks/checkbox-buttons/checkbox-buttons
include ../../blocks/checkbox-list/checkbox-list
include ../../blocks/dropdown/dropdown
include ../../blocks/field/field
include ../../blocks/pagination/pagination
include ../../blocks/rich-checkbox/rich-checkbox
include ../../blocks/sample/sample
include ../../blocks/slider/slider

block title
  title search-room

block content
  .search-room
    form
      aside.search-room__sidebar
        .sidebar__item.js-calendar
          +field({title: 'Даты пребывания в отеле', name: 'calendar-range', placeholder: 'ДД.ММ.ГГГГ', calendar: {on: true, input: 'range'}, button: {dropdown: true}})
        .sidebar__item.js-dropdown
          h3.dropdown-guests-title Гости
          +dropdown({category: 'guests', list:[{title: 'Взрослые', count: 0}, {title: 'Дети', count: 0}, {title: 'Младенцы', count: 0}]})
        .sidebar__item
          +slider({title: 'Диапазон цены', footnote: 'Стоимость за сутки пребывания в номере'})
        .sidebar__item
          +checkbox-buttons({ title: 'Checkbox buttons', list: [ { label: 'Можно курить', name: 'smoking', checked: false }, { label: 'Можно с питомцами', name: 'pets', checked: true }, { label: 'Можно пригласить гостей (до 10 человек)', name: 'guests', checked: true } ] })
        .sidebar__item
          h3.rich-checkbox-header доступность
          +rich-checkbox({label: 'Широкий коридор', name: 'wide-corridor', details: 'Ширина коридоров в номере не менее 91 см.', checked: false})
          +rich-checkbox({label: 'Помощник для инвалидов', name: 'assistant-for-invalid', details: 'На 1 этаже вас встретит специалист и проводит до номера.', checked: false})
        .sidebar__item.js-dropdown
          h3.dropdown-rooms-title Удобства номера
          +dropdown({category: 'rooms', list:[{title: 'спальни', count: 2}, {title: 'кровати', count: 2}, {title: 'ванные комнаты', count: 0}]})
        .sidebar__item
          +checkbox-list({ title: 'дополнительные удобства', list: [ { label: 'Завтрак', name: 'breakfast', checked: false }, { label: 'Письменный стол', name: 'desk', checked: true }, { label: 'Стул для кормления', name: 'feeding-chair', checked: true }, { label: 'Кроватка', name: 'cot', checked: true }, { label: 'Телевизор', name: 'TV', checked: false }, { label: 'Шампунь', name: 'shampoo', checked: false }, { label: 'Телевизор', name: 'TV-2', checked: false }, { label: 'Шампунь', name: 'shampoo-2', checked: false }, ] })

    .search-room__samples
      h1.search-room__samples-header Номера, которые мы для вас подобрали
      .search-room__samples-wrapper
        +sample({ list: [ {href: 'room-details.html', img: ['1', '2', '3', '4'], arrows: true, number: '888', luxury: 'люкс', cost: '9 990', rate: 5, reviews: '145'}, {href: 'room-details.html', img: ['2', '3', '4', '5'], number: '840', cost: '9 900', rate: 4, reviews: '65'}, {href: 'room-details.html', img: ['3', '4', '5', '6'], number: '980', luxury: 'люкс', cost: '8 500', rate: 3, reviews: '35'}, {href: 'room-details.html', img: ['4', '5', '6', '7'], number: '856', cost: '7 300', rate: 5, reviews: '19'}, {href: 'room-details.html', img: ['5', '6', '7', '8'], number: '740', cost: '6 000', rate: 4, reviews: '44'}, {href: 'room-details.html', img: ['6', '7', '8', '9'], number: '982', cost: '5 800', rate: 3, reviews: '56'}, {href: 'room-details.html', img: ['7', '8', '9', '10'], number: '678', cost: '5 500', rate: 5, reviews: '45'}, {href: 'room-details.html', img: ['8', '9', '10', '11'], number: '450', cost: '5 300', rate: 4, reviews: '39'}, {href: 'room-details.html', img: ['9', '10', '11', '12'], number: '350', cost: '5 000 ', rate: 3, reviews: '77'}, {href: 'room-details.html', img: ['10', '11', '12', '1'], number: '666', cost: '5 000 ', rate: 5, reviews: '25'}, {href: 'room-details.html', img: ['11', '12', '1', '2'], number: '444', cost: '5 000 ', rate: 3, reviews: '15'}, {href: 'room-details.html', img: ['12', '1', '2', '3'], number: '352', cost: '5 000 ', rate: 3, reviews: '55'}, ]})
      +pagination({footnote: '1 – 12 из 100+ вариантов аренды'})
