doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        title toxin
    body
        .search-room
            .header
                include ../../blocks/header-and-footer/header/__nav/header__nav.pug
                +header-nav([
                    {text: "О нас", icon: ""},
                    {text: "Услуги", icon: "expand_more"},
                    {text: "Вакансии", icon: ""},
                    {text: "Новости", icon: ""},
                    {text: "Соглашения", icon: "expand_more"}
                    ],{registered: false},
                    {nickname: 'Cosmin Negoita'},
                    'войти','../sign-in/sign-in.pug',
                    'зарегистрироваться','../registration/registration.pug')
            .content
                .filters
                    .filters__bar
                        .dropdown-filter
                            h3 даты пребывания в отеле
                            include ..\..\form-elements\dropdown-filter\selection-dates\selection-dates.pug
                            +selDate("filter")
                        .dropdown_default
                            h3 гости
                            include ..\..\form-elements\dropdown_default\guests\guests.pug
                            +guests("Сколько гостей")
                        .range-slider-container
                            include ..\..\form-elements\range-slider-container\range-slider\range-slider.pug
                            +rangeSlider('диапазон цены')
                            p Стоимость за сутки пребывания в номере
                        include ..\..\form-elements\checkbox-buttons\checkbox-buttons.pug
                        include ..\..\form-elements\checkbox-buttons__rich\checkbox-buttons__rich.pug
                        include ..\..\form-elements\dropdown_default__furniture\dropdown_default__furniture.pug
                        include ..\..\form-elements\expandable-checkbox-list\expandable-checkbox-list.pug

                    .filters__results
                        h1 Номера, которые мы для вас подобрали
                        .filters__results-rooms
                            include ..\..\cards\cards__column--item-6\sample-room\sample-room.pug
                            - 
                                var rooms = [
                                    {class: 'room-1', number: '888', luxe: 'люкс', cost: '9 990', stars: 5, reviews: '145'},
                                    {class: 'room-2', number: '840', luxe: '', cost: '9 990', stars: 4, reviews: '65'},
                                    {class: 'room-3', number: '980', luxe: 'люкс', cost: '8 500', stars: 3, reviews: '35'},
                                    {class: 'room-4', number: '856', luxe: '', cost: '7 300', stars: 5, reviews: '19'},
                                    {class: 'room-5', number: '740', luxe: '', cost: '6 000', stars: 4, reviews: '44'},
                                    {class: 'room-6', number: '982', luxe: '', cost: '5 800', stars: 3, reviews: '56'},
                                    {class: 'room-7', number: '678', luxe: '', cost: '5 500', stars: 5, reviews: '45'},
                                    {class: 'room-8', number: '450', luxe: '', cost: '5 300', stars: 4, reviews: '39'},
                                    {class: 'room-9', number: '350', luxe: '', cost: '5 000', stars: 3, reviews: '77'},
                                    {class: 'room-10', number: '666', luxe: '', cost: '5 000', stars: 5, reviews: '25'},
                                    {class: 'room-11', number: '444', luxe: '', cost: '5 000', stars: 3, reviews: '15'},
                                    {class: 'room-12', number: '352', luxe: '', cost: '5 000', stars: 3, reviews: '55'}
                                    ]
                            +sampleRoom

                        .filters-pagination
                            include ..\..\form-elements\pagination-block\pagination\pagination.pug
            include ..\..\blocks\header-and-footer\footer\footer.pug

        script(src='search-room.js')