doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        title toxin
    body
        .search-room
            .header
                include ../../blocks/header-and-footer/header/__nav/header__nav.pug
                +header-nav('../sign-in/sign-in.pug','../registration/registration.pug')
            .content
                .filters
                    .filters__bar
                        .dropdown-filter
                            h3 даты пребывания в отеле
                            include ..\..\form-elements\dropdown-filter\selection-dates\selection-dates.pug
                            +selDate("filter")
                        .dropdown_default
                            h3 гости
                            include ..\..\form-elements\dropdown_default\guests\guests.pug
                            +guests("Сколько гостей")
                        .range-slider-container
                            include ..\..\form-elements\range-slider-container\range-slider\range-slider.pug
                            +rangeSlider('диапазон цены')
                            p Стоимость за сутки пребывания в номере
                        include ..\..\form-elements\checkbox-buttons\checkbox-buttons.pug
                        include ..\..\form-elements\checkbox-buttons__rich\checkbox-buttons__rich.pug
                        include ..\..\form-elements\dropdown_default__furniture\dropdown_default__furniture.pug
                        include ..\..\form-elements\expandable-checkbox-list\expandable-checkbox-list.pug

                    .filters__results
                        h1 Номера, которые мы для вас подобрали

                .pagination
        script(src='search-room.js')