extends ../../blocks/layout/layout

include ../../blocks/checkbox-buttons/checkbox-buttons
include ../../blocks/checkbox-list/checkbox-list
include ../../blocks/dropdown/dropdown
include ../../blocks/field/field
include ../../blocks/pagination/pagination
include ../../blocks/rich-checkbox/rich-checkbox
include ../../blocks/sample/sample
include ../../blocks/slider/slider

block title
  title search-room

block content
  .search-room
    form
      aside.search-room__sidebar
        .sidebar__item
          +field({title: 'Даты пребывания в отеле', placeholder: 'ДД.ММ.ГГГГ', calendar: {on: true, input: 'range'}, button: {dropdown: true}})
        .sidebar__item
          h3.dropdown-guests__title Гости
          +dropdown({category: 'guests', list:[{title: 'Взрослые', count: 0}, {title: 'Дети', count: 0}, {title: 'Младенцы', count: 0}]})
        .sidebar__item
          +slider({title: 'Диапазон цены', footnote: 'Стоимость за сутки пребывания в номере'})
        .sidebar__item
          +checkbox-buttons({
            title: 'Checkbox buttons',
            list: [
              { label: 'Можно курить', checked: false },
              { label: 'Можно с питомцами', checked: true },
              { label: 'Можно пригласить гостей (до 10 человек)', checked: true }
            ]
          })
        .sidebar__item
          h3.rich-checkbox__header доступность
          +rich-checkbox({label: 'Широкий коридор', details: 'Ширина коридоров в номере не менее 91 см.', checked: false})
          +rich-checkbox({label: 'Помощник для инвалидов', details: 'На 1 этаже вас встретит специалист  и проводит до номера.', checked: false})
        .sidebar__item
          h3.dropdown-rooms__title Удобства номера
          +dropdown({category: 'rooms', list:[{title: 'спальни', count: 2}, {title: 'кровати', count: 2}, {title: 'ванные комнаты', count: 0}]})
        .sidebar__item
          +checkbox-list({
            title: 'дополнительные удобства',
            list: [
              { label: 'Завтрак', checked: false },
              { label: 'Письменный стол', checked: true },
              { label: 'Стул для кормления', checked: true },
              { label: 'Кроватка', checked: true },
              { label: 'Телевизор', checked: false },
              { label: 'Шампунь', checked: false },
              { label: 'Телевизор', checked: false },
              { label: 'Шампунь', checked: false },
            ]
          })

    .search-room__samples
      h1.search-room__samples__header Номера, которые мы для вас подобрали
      .samples__wrapper
        +sample({ list: [
          {img: '1', arrows: true, number: '888', luxury: 'люкс', cost: '9 990', rate: 5, reviews: '145'},
          {img: '2', number: '840', cost: '9 900', rate: 4, reviews: '65'},
          {img: '3', number: '980', luxury: 'люкс', cost: '8 500', rate: 3, reviews: '35'},
          {img: '4', number: '856', cost: '7 300', rate: 5, reviews: '19'},
          {img: '5', number: '740', cost: '6 000', rate: 4, reviews: '44'},
          {img: '6', number: '982', cost: '5 800', rate: 3, reviews: '56'},
          {img: '7', number: '678', cost: '5 500', rate: 5, reviews: '45'},
          {img: '8', number: '450', cost: '5 300', rate: 4, reviews: '39'},
          {img: '9', number: '350', cost: '5 000 ', rate: 3, reviews: '77'},
          {img: '10', number: '666', cost: '5 000 ', rate: 5, reviews: '25'},
          {img: '11', number: '444', cost: '5 000 ', rate: 3, reviews: '15'},
          {img: '12', number: '352', cost: '5 000 ', rate: 3, reviews: '55'},
        ]})
      +pagination({footnote: '1 – 12 из 100+ вариантов аренды'})