div(class='pagination')
    div(class='pagination__name') pagination
    div(class='pagination__block')
        a(class='active' href='#') 1
        a(href='#') 2
        a(href='#') 3
        a(href='#') ...
        a(href='#') 15
        a(class='pagination__forward' href='#')
            div(class='pagination__forward--icon')
    div(class='pagination__footnote') 1 – 12 из 100+ вариантов аренды
