include ../rate-button/rate-button
include ../slider-image/slider-image

mixin sample({ list=[] })
  each item in list
    .sample
      .sample__image
        +slider-image(item)
      .sample__info
        .sample__price
          .sample__price-numeration №
          .sample__price-number= item.number
          .sample__price-luxury= item.luxury
          .sample__price-cost= `${item.cost}₽`
          .sample__price-inday в сутки
        .sample__reviews
          +rate-button({rate: item.rate})
          .sample__reviews-number= item.reviews
          .sample__reviews-text Отзывов
