@import '../../colors-and-type/colors-and-type.scss';

.sample {
  max-width: 270px;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &__image {
    position: relative;
    display: flex;
    width: 270px;
    height: 151px;
    border-radius: 4px 4px 0 0;

    &:hover &-arrow {
      background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.5) 0%,
        rgba(0, 0, 0, 0) 99.99%,
        rgba(255, 255, 255, 0) 100%
      );
      border-radius: 4px 0 0 0;
      cursor: pointer;
    }

    &:hover &-arrow_next {
      border-radius: 0 0 0 4px;
    }


    &:hover &-arrow-wrapper {
      display: block;
      font-size: 24px;
      color: white;
    }
  }

  &__image-container {
    position: relative;
  }

  &__image-pic {
    border-radius: 4px 4px 0 0;
  }

  &__image-ellipses {
    position: absolute;
    display: flex;
    right: 17px;
    bottom: 15px;
    z-index: 10;
  }

  &__image-ellipses-item {
    width: 7.5px;
    height: 7.5px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 0px 5px 5px rgba(31, 32, 65, 0.3);
    margin-left: 3.5px;

    &_filled {
      background: #fff;
    }
  }

  &__image-room {
    display: none;

    &_show {
      display: block;
    }
  }

  &__image-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 44px;
    height: 100%;
  }

  &__image-arrow-wrapper {
    display: none;
  }

  &__image-arrow_next {
    transform: rotate(180deg);
    right: 0;
  }

  &__info {
    padding: 20px 18px 14px 20px;
  }

  &__price {
    display: flex;
    align-items: baseline;
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom: 1px solid $dark_10-color;
  }

  &__price-numeration {
    font-family: 'quicksand', 'open-sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: $dark_100-color;
    margin-right: 5px;
  }

  &__price-number {
    font-family: 'open-sans', 'montserrat', sans-serif;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    color: $dark_100-color;
    margin-right: 5px;
  }

  &__price-luxury {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $purple-color;
  }

  &__price-cost {
    font-weight: bold;
    font-size: 14px;
    color: $dark_50-color;
    margin-left: auto;
    margin-right: 5px;
  }

  &__price-inday {
    font-size: 12px;
    line-height: 18px;
    color: $dark_50-color;
  }

  &__reviews {
    display: flex;
  }

  &__reviews-number {
    font-weight: bold;
    font-size: 14px;
    color: $dark_50-color;
    margin-left: auto;
    margin-right: 4px;
  }

  &__reviews-text {
    font-size: 14px;
    color: $dark_50-color;
    margin-right: 2px;
  }

}
