.button__default-border {
  color: #bc9cff;
  background: #fff;
  border: 2px solid $purple-color;
  padding: 12px 17px 13px;

  @media (min-width: 1920px) {
    border: 0.139vw solid $purple-color;
    padding: 0.833vw 1.181vw 0.903vw;
  }
}
