header(class='header')
    div(class='container')
        div(class='nav')
            +logo

            ul(class='menu')
                li(class='menu__item home')
                    a(href='#') Home
                li(class='menu__item')
                    a(href='#') About Us
                li(class='menu__item')
                    a(href='#') Services
                    +expand
                li(class='menu__item')
                    a(href='#') Carrers
                li(class='menu__item')
                    a(href='#') News
                li(class='menu__item')
                    a(href='#') Documentation
                    +expand

            a(class='btn btn_login' href='#') Login

            a(class='btn btn_register' href='#') Register