.button__default {
    display: inline-block;
    font-weight: bold;
    font-size: 0.83vw;
    text-transform: uppercase;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 1.528vw;
    padding: 0.97vw 1.32vw 1.04vw;
    cursor: pointer;
    color: #fff;
    line-height: 1.04vw;
    letter-spacing: 0.0138vw;
    text-decoration: none;

    &:hover {
        opacity: 0.5;
    }
}
