.button__default {
    display: inline-block;
    font-weight: bold;
    font-size: 0.83vw;
    text-transform: uppercase;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
    padding: 14px 19px 15px;
    cursor: pointer;
    color: #fff;
    line-height: 1,04vw;
    letter-spacing: 0.2px;
    text-decoration: none;

    &:hover {
        opacity: 0.5;
    }
}
