.simple-pagination {
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    display: flex;
    margin-bottom: 10px;
    font-size: 12px;

    li {

        a,
        .ellipse {
            text-decoration: none;
            width: 40.26px;
            height: 40.44px;
            display: block;
            text-align: center;
            line-height: 40.44px;
            color: rgba(31, 32, 65, 0.5);
        }

        .ellipse {
            text-decoration: none;
            width: 40.26px;
            height: 40.44px;
            display: block;
            text-align: center;
            line-height: 40.44px;
            color: rgba(31, 32, 65, 0.5);

        }
    }

    .disabled {
        display: none;
    }
    .active {
        text-decoration: none;
        width: 40.26px;
        height: 40.44px;
        display: block;
        text-align: center;
        line-height: 40.44px;

        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        border-radius: 22px;
        color: #fff;
    }

    .prev {
        border-radius: 22px;
        background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);

        i {
            color: #fff;
            vertical-align: middle;
        }
    }

    .next {
        border-radius: 22px;
        background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);

        i {
            color: #fff;
            vertical-align: middle;
        }
    }
}