div(class='like-button')
    div(class='like-button__name') like button
    div(class='like-button__container')
        div(class='like-button__state')
            button(class='like-button__not-pressed')
                p 2
        div(class='like-button__state')
            button(class='like-button__pressed')
                p 12

