@import '../../colors-and-type/colors-and-type.scss';

.checkbox {
  display: block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  user-select: none;
  line-height: 18px;
  color: $dark_50-color;

  &__input[type='checkbox'] {
    display: none;
  }

  &__marker {
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    border: 1px solid $dark_25-color;
    border-radius: 0.25em;
  }

  &__marker::after {
    content: '';
    display: none;
    position: absolute;
    top: 4px;
    left: 6px;
    width: 4px;
    height: 6px;
    border-width: 0 2px 2px 0;
    border-style: solid;
    border-image: $gradient-color;
    border-image-slice: 1;
    transform: rotate(45deg);
  }

  &__input:checked + &__marker {
    border-color: $purple-color;
  }

  &__input:checked + &__marker::after {
    display: block;
  }
}