.comment-container {
    display: flex;
    flex-direction: column;
}
.comment-header {
    margin-bottom: 12px;

    .avatar-1 {
        background-image: url("../../form-elements/review/avatar/avatar_1.png");
    }
}


.comment-header,
.comment-body {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    line-height: 24px;
}
.comment-header__avatar {
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.1);
    border-radius: 32px;
    background-position: 50% 28%;
    margin-right: 10px;
}
.comment-header__name {
    display: flex;
    flex-direction: column;
}
.comment-body__like-button {
    width: 48px;
    margin-right: 10px;
    margin-bottom: 50px;
}
