
.review
  include comment-container/comment-container.pug
  +comment({ classAvatar: "avatar-1", name: "Мурад Сарафанов", date: "5 дней назад", likes: "12", classLike: "like-button__pressed", text: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей." })
