a {
    display: block;
    width: 1.528vw;
    height: 1.528vw;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.copyright-bar__twitter a {
    background-image: url('/blocks/header-and-footer/footer/copyright-bar/__container/logo-social/svg/twitter-logo.svg');
}
.copyright-bar__facebook a {
    background-image: url('/blocks/header-and-footer/footer/copyright-bar/__container/logo-social/svg/facebook-logo.svg');
}
.copyright-bar__instagram a {
    background-image: url('/blocks/header-and-footer/footer/copyright-bar/__container/logo-social/svg/instagram-logo.svg');
}
