.form-elements {
  
  &__logo {
    padding: 30px;
  }

  &__wrapper {
    display: grid;
    grid-template-areas: 'left . middle . right';
    grid-template-columns: 320px 126px 320px 72px 320px;
    justify-content: center;
    padding: 31px 141px 0;
  }

  &__left {
    grid-area: left;
  }

  &__middle {
    grid-area: middle;
    padding-top: 3px;
  }

  &__right {
    grid-area: right;
    padding-top: 3px;
  }

  &__text-field {
    margin-top: 16px;
  }

  &__dropdown-guests {
    margin-top: 16px;
  }

  &__dropdown-guests-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 24px;
    text-transform: uppercase;
  }

  &__dropdown-guests-title {
    line-height: 24px;
  }

  &__dropdown-guests-note {
    font-size: 12px;
  }


  &__masked-field {
    margin-top: 19px;
  }

  &__range-date {
    margin-top: 36px;
  }

  &__filter-date {
    max-width: 266px;
    margin-top: 37px;
  }

  &__subscription-text {
    max-width: 266px;
    margin-top: 37px;
  }

  &__dropdown-rooms {
    max-width: 266px;
    margin-top: 96px;
  }

  &__dropdown-rooms-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 24px;
    text-transform: uppercase;
  }

  &__dropdown-rooms-title {
    line-height: 24px;
  }

  &__dropdown-rooms-note {
    font-size: 12px;
  }

  &__dropdown-rooms-open {
    max-width: 266px;
    margin-top: 16px;
  }

  &__checkbox-list {
    max-width: 266px;
    margin-top: 168px;
  }

  &__checkbox-list-open {
    max-width: 266px;
    margin-top: 40px;
  }

  &__checkbox-buttons {
    max-width: 222px;
  }

  &__checkbox-buttons-header {
    margin-bottom: 10px;
  }

  &__radio-buttons {
    max-width: 220px;
    margin-top: 35px;
  }

  &__radio-buttons-header {
    margin-bottom: 12px;
  }

  &__toggle {
    margin-top: 39px;
  }

  &__toggle-header {
    margin-bottom: 5px;
  }

  &__like-buttons {
    margin-top: 37px;
  }

  &__like-buttons-header {
    margin-bottom: 15px;
  }

  &__like-buttons-wrapper {
    display: flex;
    justify-content: space-between;
    width: 90px;
  }

  &__rate-buttons {
    margin-top: 39px;
  }

  &__rate-buttons-header {
    margin-bottom: 15px;
  }

  &__rate-buttons-wrapper {
    display: flex;
    justify-content: space-between;
    width: 259px;
  }

  &__dropdown-guests-open {
    margin-top: 188px;
  }

  &__dropdown-guests-open-header {
    margin-bottom: 4px;
  }

  &__rich-checkbox {
    max-width: 260px;
    margin-top: 248px;
  }

  &__rich-checkbox-header {
    margin-bottom: 15px;
  }



  &__buttons {
    margin-top: 40px;
    margin-bottom: 39px;
  }

  &__buttons-title {
    margin-bottom: 15px;
  }

  &__buttons-wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 250px;
    margin: 2px 0 0 1px;
  }

  &__button-item {
    height: 44px;
    margin-bottom: 30px;
    margin-right: 18px;
  }

  &__button-item_small {
    margin-right: 20px;
  }

  &__button-item_long {
    margin-top: 31px;
  }





  .rich-checkbox {
    margin-bottom: 10px;
  }



  .buttons-default {
    display: flex;
    margin-bottom: 30px;
  }

  .buttons-border {
    display: flex;
    margin-bottom: 26px;
  }

  .buttons-link {
    display: flex;
    margin-bottom: 26px;
  }



  .pagination-header {
    margin-bottom: 15px;
  }

  .pagination {
    margin-bottom: 229px;
  }

  .bullet-list-header {
    margin-top: 255px;
    margin-bottom: 15px;
  }

  .bullet {
    margin-bottom: 8px;
  }




    .form-elements__item_size_short {
      max-width: 222px;
    }


    .form-elements__checkbox {
      margin-top: 168px;
      margin-bottom: 36px;
    }

  }

  .form-elements__footer {
    display: flex;
    justify-content: space-between;
    padding: 185px 140px 0;

    .form-elements__item {
      width: 280px;
    }

    .form-elements__item_size_long {
      width: 711px;

      .comment {
        padding-top: 10px;
      }
    }
  

}
