extends ../../blocks/layout/layout

include ../../blocks/checkbox-button/checkbox-button
include ../../blocks/checkbox-list/checkbox-list
include ../../blocks/feature/feature
include ../../blocks/field/field
include ../../blocks/logo/logo
include ../../blocks/range-date/range-date

block title
  title form-elements

block header
block content
  .form-elements
    .form-elements__logo
      +logo({ui: true})
    .form-elements__wrapper
      .form-elements__left-column
        .form-elements__item
          +field({title: 'text-field', note: 'default', placeholder: 'Email'})
        .form-elements__item
          +field({title: 'text-field', note: 'hover/focus', value: 'This is pretty awesome'})
        .form-elements__item
          +field({title: 'dropdown', note: 'default', value: 'Сколько гостей', button:{dropdown:true}})
        .form-elements__item
          +field({title: 'masked text field', note: 'default', placeholder: 'ДД.ММ.ГГГГ', masked: true})
        .form-elements__item
          +range-date
        .form-elements__item.form-elements__item--small
          +field({title: 'filter date dropdown'})
        .form-elements__item.form-elements__item--small
          +field({title: 'subscription text field', type: 'email', placeholder: 'Email', button:{send:true}})
        .form-elements__item.form-elements__item--small.form-elements__item--drpodown
          +field({title: 'dropdown', note: 'default', value: '2 спальни, 2 кровати', button:{dropdown:true}})
        .form-elements__item.form-elements__item--small
          +field({title: 'dropdown', note: 'expanded', value: '2 спальни, 2 кровати', button:{dropdown:true}})
        .form-elements__item.form-elements__checkbox
          +checkbox-list({
            title: 'Expandable checkbox list',
            list: [
              { label: 'Завтрак', checked: false }
            ]
          })
        .form-elements__item
          +checkbox-list({
            title: 'Expandable checkbox list',
            list: [
              { label: 'Завтрак', checked: false },
              { label: 'Письменный стол', checked: true },
              { label: 'Стул для кормления', checked: true },
              { label: 'Кроватка', checked: true },
              { label: 'Телевизор', checked: false },
              { label: 'Шампунь', checked: false },
              { label: 'Телевизор', checked: false },
              { label: 'Шампунь', checked: false },
            ]
          })
        .form-elements__item.form-elements__features
          .feature__wrapper
            +feature({icon: 'insert_emoticon', title: 'Комфорт', text: 'Шумопоглощающие стены'})
          .feature__wrapper
            +feature({icon: 'location_city', title: 'Удобство', text: 'Окно в каждой из спален'})

      .form-elements__midl-column
        .form-elements__item.form-elements__item--short
          +checkbox-button({
            title: 'Checkbox button',
            list: [
              { label: 'Можно курить', checked: false },
              { label: 'Можно с питомцами', checked: true },
              { label: 'Можно пригласить гостей (до 10 человек)', checked: true }
            ]
          })


      .form-elements__rigth-column

block footer
