extends ../../blocks/layout/layout

include ../../blocks/logo/logo
include ../../blocks/field/field

block title
  title form-elements

block header
block content
  .form-elements
    .form-elements__logo
      +logo({ui: true})
    .form-elements__wrapper
      .form-elements__left-column
        .form-elements__item
          +field({title: 'text-field', note: 'default', placeholder: 'Email'})
        .form-elements__item
          +field({title: 'text-field', note: 'hover/focus', value: 'This is pretty awesome'})
        .form-elements__item
          +field({title: 'dropdown', note: 'default', value: 'Сколько гостей'})(class='js-dropdown__guests')

      .form-elements__midl-column
      .form-elements__rigth-column

block footer
