extends ../../blocks/layout/layout

include ../../blocks/bullet/bullet
include ../../blocks/button/button
include ../../blocks/checkbox-buttons/checkbox-buttons
include ../../blocks/checkbox-list/checkbox-list
include ../../blocks/comment/comment
include ../../blocks/dropdown/dropdown
include ../../blocks/feature/feature
include ../../blocks/field/field
include ../../blocks/like-button/like-button
include ../../blocks/logo/logo
include ../../blocks/pagination/pagination
include ../../blocks/radio-buttons/radio-buttons
include ../../blocks/range-date/range-date
include ../../blocks/rate-button/rate-button
include ../../blocks/rich-checkbox/rich-checkbox
include ../../blocks/slider/slider
include ../../blocks/toggle/toggle

block title
  title form-elements

block header
block content
  .form-elements
    .form-elements__logo
      +logo({ui: true})
    .form-elements__wrapper
      .form-elements__left
        .form-elements__email
          +field({title: 'text-field', note: 'default', placeholder: 'Email'})
        .form-elements__text-field
          +field({title: 'text-field', note: 'hover / focus', value: 'This is pretty awesome'})
        .form-elements__dropdown-guests
          .form-elements__dropdown-guests-header
            h3.form-elements__dropdown-guests-title dropdown
            .form-elements__dropdown-guests-note default
          +dropdown({ category: 'guests', list:[{title: 'Взрослые', count: 0}, {title: 'Дети', count: 0}, {title: 'Младенцы', count: 0}]})
        .form-elements__masked-field
          +field({title: 'masked text field', note: 'default', placeholder: 'ДД.ММ.ГГГГ', masked: true})
        .form-elements__range-date
          +range-date({valEnd: '19.08.2019'})
        .form-elements__filter-date
          +field({value:'19 авг - 23 авг', title: 'filter date dropdown', name: 'calendar-range', placeholder: 'ДД.ММ.ГГГГ', calendar: {on: true, input: 'range'}, button: {dropdown: true}})
        .form-elements__subscription-text
          +field({title: 'subscription text field', name: 'email', type: 'email', placeholder: 'Email', button:{send:true}})
        .form-elements__dropdown-rooms
          .form-elements__dropdown-rooms-header
            h3.form-elements__dropdown-rooms-title dropdown
            .form-elements__dropdown-rooms-note default
          +dropdown({ category: 'rooms', list:[{title: 'спальни', count: 2}, {title: 'кровати', count: 2}, {title: 'ванные комнаты', count: 0}]})
        .form-elements__dropdown-rooms-open
          .form-elements__dropdown-rooms-header
            h3.form-elements__dropdown-rooms-title dropdown
            .form-elements__dropdown-rooms-note expanded
          +dropdown({active: true, category: 'rooms', list:[{title: 'спальни', count: 2}, {title: 'кровати', count: 2}, {title: 'ванные комнаты', count: 0}]})
        .form-elements__checkbox-list
          +checkbox-list({ title: 'Expandable checkbox list', list: [ { label: 'Завтрак' } ] })
        .form-elements__checkbox-list-open
          +checkbox-list({ active: true, title: 'Expandable checkbox list', list: [ { label: 'Завтрак' }, { label: 'Письменный стол', checked: true }, { label: 'Стул для кормления', checked: true }, { label: 'Кроватка', checked: true }, { label: 'Телевизор' }, { label: 'Шампунь' }, { label: 'Телевизор' }, { label: 'Шампунь' } ] })

      .form-elements__middle
        .form-elements__checkbox-buttons
          h3.form-elements__checkbox-buttons-header Checkbox buttons
          +checkbox-buttons({ list: [ { label: 'Можно курить' }, { label: 'Можно с питомцами', checked: true }, { label: 'Можно пригласить гостей (до 10 человек)', checked: true } ] })
        .form-elements__radio-buttons
          h3.form-elements__radio-buttons-header Radio buttons
          +radio-buttons({ items: [ {label: 'Мужчина', name: 'sex', checked: true}, {label: 'Женщина', name: 'sex', checked: false} ] })
        .form-elements__toggle
          h3.form-elements__toggle-header Toggle
          +toggle({ label: 'Получать спецпредложения', checked: true })
          +toggle({ label: 'Получать спецпредложения' })
        .form-elements__like-buttons
          h3.form-elements__like-buttons-header Like button
          .form-elements__like-buttons-wrapper
            +like-button({ counter: '2' })
            +like-button({ liked: true, counter: '12' })
        .form-elements__rate-buttons
          h3.form-elements__rate-buttons-header Rate button
          .form-elements__rate-buttons-wrapper
            +rate-button({rate: 4})
            +rate-button()
        .form-elements__dropdown-guests-open
          h3.form-elements__dropdown-guests-open-header Dropdown
          +dropdown({active: true, category: 'guests', list:[{title: 'Взрослые', count: 0}, {title: 'Дети', count: 0}, {title: 'Младенцы', count: 0}]})
        .form-elements__rich-checkbox
          h3.form-elements__rich-checkbox-header Rich checkbox buttons
          .form-elements__rich-checkbox-wrapper
            +rich-checkbox({label: 'Широкий коридор', details: 'Ширина коридоров в номере не менее 91 см.'})
          .form-elements__rich-checkbox-wrapper
            +rich-checkbox({label: 'Помощник для инвалидов', details: 'На 1 этаже вас встретит специалист и проводит до номера.'})

      .form-elements__right
        .form-elements__slider
          +slider({title: 'Range slider'})
        .form-elements__buttons
          h3.form-elements__buttons-title Buttons
          .form-elements__buttons-wrapper
            .form-elements__button-item
              +button({title: 'Click me', link: true})
            .form-elements__button-item
              +button({title: 'Click me', link: true}).button_disabled
            .form-elements__button-item
              +button({title: 'Click me', link: true}).button_theme_border
            .form-elements__button-item
              +button({title: 'Click me', link: true}).button_disabled.button_theme_border
            .form-elements__button-item_small
              +button({title: 'Click me', link: true}).button_size_small
            .form-elements__button-item_small
              +button({title: 'Click me', link: true}).button_size_small.button_disabled
          .form-elements__button-item_long
            +button({title: 'Перейти к оплате', link: true, arrow: true}).button_size_long
        .form-elements__pagination
          h3.form-elements__pagination-header Pagination
          +pagination({footnote: '1 – 12 из 100+ вариантов аренды'})
        .form-elements__dropdown-guests-preset
          h3.form-elements__dropdown-guests-preset-title Dropdown
          +dropdown({active: true, category: 'guests', list:[{title: 'Взрослые', count: 2}, {title: 'Дети', count: 1}, {title: 'Младенцы', count: 0}]})
        .form-elements__bullet-list
          h3.form-elements__bullet-list-header Bullet list
          .form-elements__bullet-list-wrapper
            +bullet({text: 'Нельзя с питомцами'})
          .form-elements__bullet-list-wrapper
            +bullet({text: 'Без вечеринок и мероприятий'})
          .form-elements__bullet-list-wrapper
            +bullet({text: 'Время прибытия — после 13:00, а выезд до 12:00'})

      .form-elements__bottom
        .form-elements__feature
          +feature({icon: 'insert_emoticon', title: 'Комфорт', text: 'Шумопоглощающие стены'})
          +feature({icon: 'location_city', title: 'Удобство', text: 'Окно в каждой из спален'})
        .form-elements__comment
          +comment({img:'ava', name: 'Мурад Сарафанов', date: '5 дней назад', liked: true, counter: '12', text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'})

block footer
