.form-elements {
  
  &__logo {
    padding: 30px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 31px 141px 0;

       
    .form-elements__item {
      width: 320px;
      margin-bottom: 16px;

      .radio-buttons__header {
        margin-bottom: 12px;
        margin-top: 40px;
      }
    
      .range-date {
        margin-top: 40px;
        margin-bottom: 37px;
      }
      
      .radio-buttons {
        margin-bottom: 39px;
      }

      .toggle__header {
        margin-bottom: 12px;
      }

      .toggle {
        margin-bottom: 10px;
      }

      .like-button__header {
        margin-top: 42px;
        margin-bottom: 15px;
      }

      .like-button__wrapper {
        display: flex;

        .like-button {
          margin-right: 10px;
        }
      }

      .rate-button__header {
        margin-top: 38px;
        margin-bottom: 15px;
      }

      .rate-button__wrapper {
        display: flex;
        margin-bottom: 186px;

        .rate-button {
          margin-right: 20px;
        }
      }

      .rich-checkbox__header {
        margin-top: 256px;
        margin-bottom: 15px;
      }

      .rich-checkbox {
        margin-bottom: 10px;
      }

    }

    .form-elements__item--small {
      max-width: 266px;
      margin-bottom: 36px;
    }

    .form-elements__item--short {
      max-width: 222px;
    }

    .form-elements__item--drpodown {
      margin-top: 96px;
      margin-bottom: 15px;
    }

    .form-elements__checkbox {
      margin-top: 168px;
      margin-bottom: 36px;
    }

  }

  .form-elements__footer {
    display: flex;
    justify-content: space-between;
    padding: 188px 141px 0;

    .form-elements__item {
      width: 280px;
    }

    .form-elements__item--long {
      width: 711px;

      .comment {
        padding-top: 10px;
      }
    }
  }

}
