div(class='buttons')
    div(class='buttons__name') buttons
    div(class='buttons__container')
        include button__defult/button__defult.pug
    div(class='buttons__container')
        include button__default-border/button__default-border.pug
    div(class='buttons__container')
        include button__default-long/button__default-long.pug