.buttons {
    margin-top: 41px;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}
.buttons__name {
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 16px;
}
.buttons__container {
    margin-bottom: 30px;
}
@import 'button__defult/button__defult.scss';
@import 'button__default-border/button__default-border.scss';
@import 'button__default-long/button__default-long.scss';
