.buttons
    .buttons__name buttons
    .buttons__container
        include button__defult/button__defult.pug
        +btn('click me')
    .buttons__container
        include button__default-border/button__default-border.pug
        +btn-border("click me")
    .buttons__container
        include button__default-long/button__default-long.pug