.buttons {
    margin-top: 41px;
    display: flex;
    flex-direction: column;
}
.buttons__name {
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 16px;
}
.buttons__container {
    margin-bottom: 30px;
}
.button__defult {
    margin-right: 20px;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    width: 99px;
    height: 44px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
    padding: 0 0;
    cursor: pointer;
    font-family: "Montserrat-Regular", sans-serif;
    border-style: none;
    color: white;
}
.button__defult--opacity {
    opacity: 0.5;
}
.button__default--border {
    color: #BC9CFF;
    background: transparent;
    border: 2px solid transparent;
    border-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-image-slice: 1;
    border-radius: 22px;

}