.js-diagram {

  .diagram__figure {
    display: flex;
  }

  .donut__sector {
    cursor: pointer;
  }

  .donut__label {
    font-size: 16px;
    fill: #000;
    -moz-transform: translateY(0.25em);
    -ms-transform: translateY(0.25em);
    -webkit-transform: translateY(0.25em);
    transform: translateY(0.25em);
  }

  .donut-label__value {
    font-size: 0.4em;
    font-weight: bold;
    line-height: 1;
    text-anchor: middle;
    -moz-transform: translateY(-0.25em);
    -ms-transform: translateY(-0.25em);
    -webkit-transform: translateY(-0.25em);
    transform: translateY(-0.25em);
  }

  .donut-label__unit {
    font-size: 0.2em;
    font-weight: bold;
    text-transform: uppercase;
    text-anchor: middle;
    -moz-transform: translateY(0.7em);
    -ms-transform: translateY(0.7em);
    -webkit-transform: translateY(0.7em);
    transform: translateY(0.7em);
  }

  .diagram__figure-wrap,
  .diagram__legend {
    align-self: center;
  }

  .diagram__legend {
    padding-right: 5px;
    padding-top: 2px;
  }

  .legend-item {
    display: flex;
    align-items: center;
  }

  .legend-item__circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
  }

  .circle--Удовлетворительно {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  }

  .circle--Хорошо {
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  }

  .circle--Великолепно {
    background: linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%);
  }

  .circle--Разочарован {
    background: linear-gradient(180deg, #919191 0%, #3D4975 100%);
   }

  .figure-content svg {
    height: auto;
  }
  .figure-key {
    min-width: calc(8 / 12);
  }
  .figure-key [class*="shape-"] {
    margin-right: 6px;
  }
  .figure-key-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .figure-key-list li {
    margin: 0 0 8px;
    padding: 0;
  }
  .shape-circle {
    display: inline-block;
    vertical-align: middle;
    width: 32px;
    height: 32px;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
  }
  .shape-fuschia {
    background-color: #ce4b99;
  }
  .shape-lemon-lime {
    background-color: #b1c94e;
  }
  .shape-blue {
    background-color: #377bbc;
  }
}
