mixin diagram({}={})
  .js-diagram
    //- figure
    //-   .diagram__figure
    //-     svg.donut(width="70%" height="70%" viewBox="0 0 42 42")
          //- circle.donut-hole(cx="21" cy="21" r="15.91549430918954" fill="#fff")
          //- circle.donut-ring(cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#d2d3d4" stroke-width="3")
          //- circle.donut-segment(cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#ce4b99" stroke-width="3" stroke-dasharray="20 80" stroke-dashoffset="25")
          //- circle.donut-segment(cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#b1c94e" stroke-width="3" stroke-dasharray="20 80" stroke-dashoffset="104")
          //- circle.donut-segment(cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#377bbc" stroke-width="3" stroke-dasharray="30 70" stroke-dashoffset="65")

          //- g.chart-text
          //-   text.chart-number(x="50%" y="50%") 10
          //-   text.chart-label(x="50%" y="50%") Beers

    //- figcaption.figure-key
    //-   ul.figure-key-list(aria-hidden="true" role="presentation")
    //-     li
    //-       span.shape-circle.shape-fuschia Belgian Quadrupels (4)
    //-     li
    //-       span.shape-circle.shape-lemon-lime Imperial India Pale Ales (2)
    //-     li
    //-       span.shape-circle.shape-blue Russian Imperial Stouts (3)
