.diagram {
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &__figure {
    display: flex;
  }

  &__wrap,
  &__legend {
    align-self: center;
  }

  &__donut {
    &-sector {
      cursor: pointer;
    }

    &-label {
      font-size: 16px;
      fill: #000;
      -moz-transform: translateY(0.25em);
      -ms-transform: translateY(0.25em);
      -webkit-transform: translateY(0.25em);
      transform: translateY(0.25em);
    }

    &-value {
      font-size: 0.4em;
      font-weight: bold;
      line-height: 1;
      text-anchor: middle;
      -moz-transform: translateY(-0.25em);
      -ms-transform: translateY(-0.25em);
      -webkit-transform: translateY(-0.25em);
      transform: translateY(-0.25em);
    }

    &-unit {
      font-size: 0.2em;
      font-weight: bold;
      text-transform: uppercase;
      text-anchor: middle;
      -moz-transform: translateY(0.7em);
      -ms-transform: translateY(0.7em);
      -webkit-transform: translateY(0.7em);
      transform: translateY(0.7em);
    }
  }

  &__legend {
    &-item {
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    &-circle {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      margin-right: 5px;

      &_theme_satisfactorily {
        background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      }

      &_theme_good {
        background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
      }

      &_theme_perfectly {
        background: linear-gradient(180deg, #ffe39c 0%, #ffba9c 100%);
      }

      &_theme_disappointed {
        background: linear-gradient(180deg, #919191 0%, #3d4975 100%);
      }
    }
  }
}
