include ../button/button
include ../field/field
include ../radio-buttons/radio-buttons
include ../toggle/toggle

mixin register({ title='' })
  form.register
    h1.register__header= title
    .register__field
      +field({placeholder: 'Имя', name: 'name'})
    .register__field
      +field({placeholder: 'Фамилия', name: 'surname'})
    .register__radio-buttons
      +radio-buttons({ items: [ {label: 'Мужчина', name: 'sex', checked: true}, {label: 'Женщина', name: 'sex', checked: false} ] })
    .register__field
      +field({title: 'Дата рождения', name: 'date-of-birth', placeholder: 'ДД.ММ.ГГГГ', masked: true})
    h3.register__data-header Данные для входа в сервис
    .register__data-field
      +field({placeholder: 'Email', name: 'email', type: 'email'})
    .register__field
      +field({placeholder: 'Пароль', name: 'password', type: 'password'})
    .register__toggle
      +toggle({ label: 'Получать спецпредложения' })
    .register__button
      +button({title: 'Перейти к оплате', arrow: true}).button_size_long
    .register__foot
      .register__note Уже есть аккаунт на Toxin
      .register__foot-button
        +button({title: 'Войти', link: true, href: 'sign-in.html'}).button_theme_border
