@import '../../normalize.css';
@import '../../colors-and-type/colors-and-type.scss';
@import '../../fonts/fonts.scss';
@import '../../blocks/header-and-footer/header-and-footer.scss';
@import '../../form-elements/form-elements.scss';
@import '../../cards/cards.scss';

.registration {

    > .content {
        display: flex;
        justify-content: center;
        background-image: url("image/reg-fon.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        padding: 2.08% 0 1.8%;
    }
}
