include ..\..\..\form-elements\dropdown_date\dddate\dddate.pug
include ..\..\..\form-elements\dropdown_default\guests\guests.pug
include ..\..\..\form-elements\buttons\button__default-long\button__default-long.pug

mixin booking(options)
    .booking

        //booking-header

        .booking-header
            bold №
            p.booking-number= options.number
            p.booking-luxury= options.luxe
            p.booking-cost
                strong= options.cost
                strong &#x20bd
                small в сутки


        //field-date

        +dddate("прибытие","выезд")


        //field-guest
        .dropdown_default
            h3 гости
            +guests("Сколько гостей")

        //check-list

        .check-list
            .check-list--item
                p= options.cost
                p х 4 суток
                p 39 960&#x20bd
            .check-list--item
                p Сбор за услуги: скидка 2179&#x20bd
                p.info-icon
                p 0&#x20bd
            .check-list--item
                p Сбор за дополнительные услуги
                p.info-icon
                p 300&#x20bd
        
        .check-list--total
            p Итого
            .check-list--total-item
            p 38 081&#x20bd


        //button__default-long

        +btn_long('забронировать')
