.booking

    //booking-header

    .booking-header
        p(class='booking-number') <small>№</small> 888
        p(class='booking-luxury') люкс
        p(class='booking-cost') <strong>9990Р</strong><small> в сутки</small>


    //fiel-date

    .date-container
        .date-container-items
            form(class='field-masked__form-date') прибытие
                input(class='field-masked__form-date-input' type='date')
        .date-container-items
            form(class='field-masked__form-date') выезд
                input(class='field-masked__form-date-input' type='date')


    //field-masked

    .field-masked__form-text гости
    form(class='field-masked__form')
        input(class='field-masked__form-input' type='text' placeholder='3 гостя')


    //check-list

    .check-list
        .check-list--item
            p 9990Р х 4суток
            p 39960Р
        .check-list--item
            p Сбор за услуги: скидка 2179Р
            p 0Р
        .check-list--item
            p Сбор за дополнительные услуги
            p 300Р
    
    .check-list--total
        p Итого
        .check-list--total-item
        p 38081 Р


    //button__default-long

    button(class='button__defult button__default-long') забронировать
        .button__default-long--icon


