.booking {
	width: 380px;
	height: 511px;
	background: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	padding: 47px 30px 30px;
	position: relative;

	&-header {
		display: flex;
		margin-bottom: 24px;
		align-items: flex-end;

		bold {
			margin-right: 5px;
			font-weight: bold;
			line-height: 16px;
		}

		.booking-number {
			font-style: normal;
			font-weight: bold;
			font-size: 18px;
			line-height: 18px;
			letter-spacing: 1.1px;
			color: $dark_100-color;
			margin-right: 5px;
		}
		.booking-luxury {
			font-style: normal;
			font-weight: bold;
			font-size: 15px;
			color: $purple-color;
			margin-right: auto;
		}
		.booking-cost {
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			color: $dark_50-color;

			strong:nth-child(2) {
				margin-right: 5px;
			}
		}
	}
}

/*****   field-date   *****/
.booking .dropdown_date {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}
/*****   field-guest   *****/
.booking .dropdown_default {
	margin-bottom: 20px;
}

/*****   Check-list   *****/
.booking .check-list {
	margin-bottom: 30px;
}
.booking .check-list--item {
	display: flex;
	align-items: flex-start;
	margin-bottom: 15px;
}
.booking .check-list--item p {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	color: $dark_75-color;
	margin: 0 0;
	max-width: 220px;
}
.booking .check-list--item p:first-child {
	min-width: 220px;
}
.booking .check-list--item:first-child p:first-child {
	min-width: 0;
	margin-right: 5px;
}
.booking .check-list--item p:last-child {
	margin-left: auto;
}
.booking .info-icon{
    background: url('/cards/cards__column--item-3/booking/svg/info.svg');
    display: block;
    width: 20px;
    height: 20px;
	background-repeat: no-repeat;
}
.booking .check-list--total-item {
	width: 182px;
	height: 0px;
	border-top: 1px dotted $dark_25-color;
}
.booking .check-list--total {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 2px;
}
.booking .check-list--total p {
	
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	color: $dark_100-color;
	margin-bottom: 20px;
}