.booking

    //booking-header

    .booking-header
        p.booking-number <small>№</small> 888
        p.booking-luxury люкс
        p.booking-cost <strong>9 990&#x20bd</strong><small> в сутки</small>


    //field-date

    +dddate("прибытие","выезд")


    //field-guest
    +ddguests("гости")

    //check-list

    .check-list
        .check-list--item
            p 9 990Р х 4 суток
            p 39 960Р
        .check-list--item
            p Сбор за услуги: скидка 2179Р
            p(class='info-icon')
            p 0Р
        .check-list--item
            p Сбор за дополнительные услуги
            p(class='info-icon')
            p 300Р
    
    .check-list--total
        p Итого
        .check-list--total-item
        p 38 081&#x20bd


    //button__default-long

    button.button__defult.button__default-long забронировать
        i(class='material-icons') arrow_forward


