.number-selection__dates
    .number-selection__dates--name прибытие
    form(class='number-selection__dates--form')
        input(class='number-selection__dates--form--input' type='date')
        a(class='number-selection__dates--form--input-expand' href='#')

