@font-face {
  font-family: 'montserrat';
  src: url('Montserrat/Montserrat.woff') format('woff'),
    url('Montserrat/Montserrat.ttf') format('truetype'),
    url('Montserrat/Montserrat.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat-bold';
  src: url('Montserrat/Montserrat-bold.woff') format('woff'),
    url('Montserrat/Montserrat-bold.ttf') format('truetype'),
    url('Montserrat/Montserrat-bold.svg') format('svg');
  font-weight: bold;
  font-style: normal;  
}

@font-face {
  font-family: 'open-sans';
  src: url('open-sans/open-sans.woff') format('woff'),
    url('open-sans/open-sans.ttf') format('truetype'),
    url('open-sans/open-sans.svg') format('svg');
}

@font-face {
  font-family: 'material-icons';
  src: url('material-icons/material-icons.woff') format('woff'),
    url('material-icons/material-icons.ttf') format('truetype'),
    url('material-icons/material-icons.svg') format('svg');
}

@font-face {
  font-family: 'font-awesome';
  src: url('font-awesome/font-awesome.woff') format('woff'),
    url('font-awesome/font-awesome.ttf') format('truetype'),
    url('font-awesome/font-awesome.svg') format('svg');
}