@font-face {
  font-family: 'Montserrat';
  src: url('Montserrat/Montserrat.woff') format('woff'),
    url('Montserrat/Montserrat.ttf') format('truetype'),
    url('Montserrat/Montserrat.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('Montserrat/Montserrat-Bold.woff') format('woff'),
    url('Montserrat/Montserrat-Bold.ttf') format('truetype'),
    url('Montserrat/Montserrat-Bold.svg') format('svg');
  font-weight: bold;
  font-style: normal;  
}

@font-face {
  font-family: 'OpenSans';
  src: url('OpenSans/OpenSans.woff') format('woff'),
    url('OpenSans/OpenSans.ttf') format('truetype'),
    url('OpenSans/OpenSans.svg') format('svg');
}

@font-face {
  font-family: 'MaterialIcons';
  src: url('MaterialIcons/MaterialIcons.woff') format('woff'),
    url('MaterialIcons/MaterialIcons.ttf') format('truetype'),
    url('MaterialIcons/MaterialIcons.svg') format('svg');
}
