.button__default {
  display: inline-block;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  border-radius: 22px;
  padding: 14px 20px 15px;
  cursor: pointer;
  color: #fff;
  line-height: 15px;
  letter-spacing: 0.2px;
  text-decoration: none;

  @media (min-width: 1600px) {
    font-size: 0.8em;
    border-radius: 1.527vw;
    padding: 0.972vw 1.388vw 1.041vw;
  }

  &:hover {
    opacity: 0.5;
  }
}
