mixin toggle(id,title)
    .toggle-buttons__item
        input(type='checkbox' id=id name='toggle')
        label(for=id)=title

.toggle-buttons__name toggle
.toggle-buttons__items
    +toggle("switch1","Получать спецпредложения")
    +toggle("switch2","Получать спецпредложения")
