div(class='toggle-buttons')
    div(class='toggle-buttons__name') toggle
    div(class='toggle-buttons__items')
        div(class='toggle-buttons__item')
            input(type='checkbox' id='switch1' name='toggle')
            label(for='switch1') Получать спецпредложения
        div(class='toggle-buttons__item')
            input(type='checkbox' id='switch2' name='toggle')
            label(for='switch2') Получать спецпредложения
