div(class='toggle-buttons')
    div(class='toggle-buttons__name') toggle
    div(class='toggle-buttons__items')
        div(class='toggle-buttons__item')
            input(id='togglebtn1' type='checkbox' name='toggle' class='toggle-buttons__input')
            span(class='slider')
            p  Получать спецпредложения

        div(class='toggle-buttons__item')
            input(id='togglebtn2' type='checkbox' name='toggle' class='toggle-buttons__input')
            span(class='slider')
            p  Получать спецпредложения
