include ../field/field
include ../dropdown/dropdown
include ../button/button

mixin search({ title='' })
  form.search
    h1.search__header= title
    .search__range.js-calendar
      +field({title: 'Прибытие', name: 'calendar-start', placeholder: 'ДД.ММ.ГГГГ', calendar: {on: true, input: 'start'}, button: {dropdown: true}})
      +field({title: 'Выезд', name: 'calendar-end',placeholder: 'ДД.ММ.ГГГГ', calendar: {on: true, input: 'end'}, button: {dropdown: true}})
    .search__dropdown.js-dropdown
      h3.dropdown__title Гости
      +dropdown({category: 'guests', list:[{title: 'Взрослые', count: 0}, {title: 'Дети', count: 0}, {title: 'Младенцы', count: 0}]})
    +button({title: 'Перейти к оплате', arrow: true}).button_size_long
