@import '../../colors-and-type/colors-and-type.scss';

.footer {
  background-color: #fff;
  box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);

  .footer__wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 100px 9.72% 82px;
    display: flex;
    justify-content: space-between;

    @media(max-width: 1200px) {
      padding: 100px 5% 82px;
    }

    @media(max-width: 1020px) {
      flex-direction: column;
      align-items: center;
      padding: 50px 5%;
    }

      .footer__info__wrapper {

        @media(max-width: 1020px) {
          margin-bottom: 25px;
        }

        .logo {
          margin-bottom: 17px;
        }
  
        .footer__info {
          max-width: 260px;
        }
      }
  
    .footer__menu__wrapper {
      display: flex;
      flex: 0.87;
      justify-content: space-between;
      align-items: flex-start;
      margin-right: 20px;

      @media(max-width: 1200px) {
        margin-right: 0;
        flex: none;
      }

      @media(max-width: 1020px) {
        margin-bottom: 25px;
      }
  
      .menu {
        .nav-menu {
          flex-direction: column;
  
          .item--bold {
            font-size: 12px;
            text-transform: uppercase;
          }
  
          .nav-menu__item {
            margin-bottom: 14px;
          }
        }
      }
    }
  
    .footer__subscription {
      .field__wrapper .arrow__icon {
        top: 10px;
      }
  
      .subscription__title {
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        color: $dark_100-color;
        margin-bottom: 13px;
      }
  
      .subscription__text {
        max-width: 260px;
        margin-bottom: 23px;
      }
    }
  }

  .footer__line {
    border-top: 1px solid #e5e5e5;
  }

  .footer__copyright {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 23px 9.72%;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);

    @media(max-width: 1200px) {
      padding: 23px 5%;
    }

    .copyright__social {
      display: flex;

      .social {
        margin-right: 24px;
      }

      .social:last-child {
        margin-right: 0;
      }
    }
  }
}
