include ../field/field
include ../logo/logo
include ../menu/menu
include ../social/social

mixin footer({ info='', list1=[],  list2=[], list3=[], title='', text='', placeholder='', copyright=''})
  footer.footer
    .footer__wrapper
      .footer__info__wrapper
        +logo({ui: false})
        .footer__info= info
      .footer__menu__wrapper
        +menu({list: list1})
        +menu({list: list2})
        +menu({list: list3})
      .footer__subscription
        .subscription__title= title
        .subscription__text= text
        +field({type: 'email', placeholder: placeholder, button:{send:true}})
    .footer__line
    .footer__copyright
      .copyright__text= copyright
      .copyright__social
        +social({name: 'twitter', href: 'http://twitter.com'})
        +social({name: 'facebook-square', href: 'http://facebook.com'})
        +social({name: 'instagram', href: 'http://instagram.com'})

