.info
  include case/case.pug
  +case({icon: "mood", text_bold: "Комфорт", text: "Шумопоглощающие стены", class: "case--underlined"})
  +case({icon: "location_city", text_bold: "Удобство", text: "Окно в каждой из спален", class: "case--underlined"})
