/*****   Button__default-long   *****/    
.button__defult {
    margin-right: 20px;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    width: 99px;
    height: 44px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
    padding: 0 0;
    cursor: pointer;
    font-family: "Montserrat-Regular", sans-serif;
    border-style: none;
    color: white;
}
.button__defult:hover {
    opacity: 0.5;
}
.button__default-long {
    width: 320px;
    position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
.button__default-long i {
	position: absolute;
	right: 3%;
}