div(class='dropdown')
    div(class='dropdown-default__form-text') dropdown
    form(class='dropdown-default__form')
        input(class='dropdown-default__form-input' type='text' placeholder='Сколько гостей')
        a(class='dropdown-default__form-input-expand' href='#')
