include ../field/field

mixin range-date
  .range-date
    +field({title: 'date dropdown', placeholder: 'ДД.ММ.ГГГГ', calendar: {on: true, input: ''}})
    +field({title: 'date dropdown', placeholder: 'ДД.ММ.ГГГГ', calendar: {on: true, input: ''}})