include ../field/field

mixin range-date({ valStart='', valEnd='' }={})
  .range-date.js-calendar
    +field({value: valStart, title: 'date dropdown', name: 'calendar-start', placeholder: 'ДД.ММ.ГГГГ', calendar: {on: true, input: 'start'}, button: {dropdown: true}})
    +field({value: valEnd, title: 'date dropdown', name: 'calendar-end', placeholder: 'ДД.ММ.ГГГГ', calendar: {on: true, input: 'end'}, button: {dropdown: true}})
