include ../field/field

mixin range-date
  .range-date.js-calendar
    +field({title: 'date dropdown', placeholder: 'ДД.ММ.ГГГГ', calendar: {on: true, input: 'start'}})
    +field({title: 'date dropdown', placeholder: 'ДД.ММ.ГГГГ', calendar: {on: true, input: 'end'}})
