@import '../../colors-and-type/colors-and-type.scss';

.iqdropdown {
  box-sizing: border-box;
  border-radius: 4px;
  background: #ffffff;
  border: 1px solid $dark_25-color;
  width: 100%;
  height: auto;
  line-height: 18px;
  padding: 12px 15px;
  outline: none;

  .expand-more__icon {
    position: absolute;
    right: 10px;
    font-size: 24px;
    line-height: 24px;
    color: $dark_50-color;
    cursor: pointer;
  }

  .iqdropdown-selection {
    font-family: 'Montserrat', sans-serif;
    color: $dark_75-color;
    font-size: 14px;
    letter-spacing: 0.02rem;
    &::after {
      display: none;
    }
  }

  &::placeholder {
    color: $dark_25-color;
    font-size: 14px;
    line-height: 18px;
  }

  &:focus,
  &:hover {
    border: 1px solid $dark_50-color;
    color: $dark_75-color;
  }

  .iqdropdown-menu-option {
    padding: 5px 5px 0px 14px;
    height: auto;

    height: auto;

    .iqdropdown-content {
      text-transform: uppercase;
    }

    .iqdropdown-item-controls {
      height: auto;
      .button-decrement,
      .button-increment {
        border: 1px solid rgba(31, 32, 65, 0.25);
        box-sizing: border-box;
        border-radius: 22px;
        height: auto;
        padding: 7px;

        .icon-decrement {
          display: flex;
          justify-content: center;

          &::after,
          &::before {
            width: 6px;
            height: 1px;
            background: $dark_50-color;
          }
        }
      }

      .counter {
        width: 30px;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        font-weight: bold;
        color: $dark_100-color;
        border: none;
        padding: 7px;
      }
    }
  }
}

.iqdropdown.menu-open {
  border-radius: 4px 4px 0 0;
  border-color: $dark_50-color;
}

.iqdropdown.menu-open .iqdropdown-menu {
  box-shadow: none;
  border: 1px solid $dark_50-color;
  border-radius: 0 0 4px 4px;
  top: 44px;

  .iqdropdown-item {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: $dark_100-color;
  }

  .buttons-dropdown__wrapper {
    display: flex;
    padding: 18px 7px 12px 13px;
    justify-content: space-between;

    .button__dropdown {
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;
    }

    .button__dropdown--apply {
      color: $purple-color;
      margin-left: auto;
    }

    .button__dropdown--clear {
      display: none;
      color: $dark_50-color;
    }

    .button__dropdown--clear-active {
      display: block;
    }
  }
}
