@import '../../colors-and-type/colors-and-type.scss';

.checkbox-list {
  &__header {
    position: relative;
    line-height: 24px;
    margin-bottom: 14px;
    cursor: pointer;

    .expand-icon {
      position: absolute;
      right: 5%;
      font-size: 24px;
      line-height: 24px;
      color: $dark_50-color;
    }

    .expand-icon_open {
      transform: rotate(180deg);
    }
  }

  &__menu {
    display: none;

    .checkbox {
      margin-bottom: 12px;
    }
  }

  &__menu_open {
    display: block;
  }
}
