.footer {
    padding: 0;
    height: 372px;
    background-color: #FFFFFF;
    margin-top: 40px;
    box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
}
.footer ul, .footer li {
    display: block;
    padding: 0;
    margin: 0;
    align-items: center;
}
.footer .footer__container {
    height: 372px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin-left: 140px;
}
.footer .footer__info {
    width: 260px;
    height: 156px;
    margin-top: 100px;
}
.footer .footer__logo {
    display: block;
    background-image: url('/blocks/header-and-footer/footer/svg/logo.svg');
    width: 105.69px;
    height: 40px;
    margin-bottom: 20px;
}
.footer .footer__info-content {
    display: block;
    width: 260px;
    height: 96px;
    font-style: normal;
    font-weight: normal;
    font-size: 13.6px;
    line-height: 24px;
    color: $dark_75-color;
}
.footer .footer__navigation {
    width: 81px;
    height: 168px;
    margin-top: 104px;
    margin-left: 40px;
}
.footer .footer__about-us {
    width: 82px;
    height: 168px;
    margin-top: 104px;
    margin-left: 119px;
}
.footer .footer__support {
    width: 113px;
    height: 130px;
    margin-top: 104px;
    margin-left: 118px;
}
.footer .footer__subscribe {
    width: 215px;
    height: 84px;
    margin-top: 104px;
    margin-left: 87px;
}
.footer a {
    text-decoration: none;
    transition: all 0.5s ease;
}
.footer .footer__navigation-menu li:first-child a,
.footer .footer__about-us-menu li:first-child a,
.footer .footer__support-menu li:first-child a,
.footer .footer__subscribe-title {
    color: $dark_100-color;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
}
.footer .footer__navigation-menu__item a,
.footer .footer__about-us-menu__item a,
.footer .footer__support-menu__item a{
    font-style: normal;
    font-weight: normal;
    font-size: 13.6px;
    line-height: 17px;
    color: $dark_50-color;
}
.footer li,
.footer .footer__subscribe-title {
    margin-bottom: 20px;
}
.footer .footer__subscribe-content {
    font-style: normal;
    font-weight: normal;
    font-size: 13.6px;
    line-height: 24px;
    color: $dark_75-color;
    margin-bottom: 22px;
}
.footer .footer__subscribe-form {
    position: relative;
    width: 260px;
}
.footer .footer__subscribe-form-input {
    display: block;
    position: absolute;
    box-sizing: border-box;
    border-radius: 4px;
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    width: 100%;
    height: 42px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.9px;
    padding-left: 14px;
    background-position-x: 95%;
    background-position-y: 50%;
}
.footer__subscribe-form-input-expand{
    position: absolute;
    top: 0;
    right: 0;
    background-image: url('/blocks/header-and-footer/footer/svg/arrow_forward.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 44px;
    height: 44px;
}
.footer .footer__subscribe-form-input::placeholder {
    color: $dark_25-color;
}
.copyright-bar {
    height: 70px;
    background-color: #FFFFFF;
    border-top: 1px solid #E5E5E5;
    box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
}
.copyright-bar__container {
    height: 70px;
    align-items: center;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin-left: 140px;
}
.copyright-bar__text {
    font-style: normal;
    font-weight: normal;
    font-size: 13.6px;
    line-height: 17px;
    color: $dark_75-color;
    letter-spacing: 0.1px;
}
.copyright-bar__twitter {
    margin-left: auto;
}
.copyright-bar__twitter a {
    display: block;
    width: 24px;
    height: 20px;
    background-image: url('/blocks/header-and-footer/footer/svg/twitter-logo.svg');
}
.copyright-bar__facebook a {
    display: block;
    width: 22px;
    height: 22px;
    background-image: url('/blocks/header-and-footer/footer/svg/facebook-logo.svg');
    margin: 0 20px;
}
.copyright-bar__instagram a {
    display: block;
    width: 22px;
    height: 22px;
    background-image: url('/blocks/header-and-footer/footer/svg/instagram-logo.svg');
    margin-right: 140px;
}