nav.header__nav
    include logo/logo.pug

    include __menu/header__menu.pug

    include ../../../../form-elements/buttons/button__default-border/button__default-border.pug
    +btn-border('','./pages/sign-in/sign-in.pug')
    include ../../../../form-elements/buttons/button__default/button__default.pug
    +btn('register','./pages/registration/registration.pug')
