include ../../../../form-elements/buttons/button__default-border/button__default-border.pug
include ../../../../form-elements/buttons/button__default/button__default.pug

mixin header-nav(items,reg,nick,title1,href1,title2,href2)
    nav.header__nav
        include logo/logo.pug

        ul.header__menu
            each val in items
                li.header__menu__item
                    a(href='#')= val.text
                        i.material-icons= val.icon
        
        if reg.registered
            p= nick.nickname
        else
            +btn-border(title1,href1)
            +btn(title2,href2)