.header .header__nav {
    height: 2.77vw;
    padding: 1.04% 9.72%;
    align-items: center;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}
.header .header__nav ul {
    list-style: none;
    padding-inline-start: 0;
}
.header .header__menu {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin-left: auto;
    align-items: center;
    justify-content: space-between;
    min-width: 38.5%;
    margin-right: 1.8%;

}
// .header .header__menu__item {

// }
.header .header__menu__item a {
    color: $dark_50-color;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    transition: all 0.5s ease;
    display: flex;
    align-items: center;
}
// .header .header__menu__item:nth-child(1) a {
// }

.header .header__nav .button__default {
    padding: 0.625vw 1.38vw 0.69vw;
}
.header .header__nav .button__default-border {
    padding: 0.486vw 1.250vw 0.556vw;
    margin-right: 1.5vw;
}


@import '/blocks/header-and-footer/header/__nav/logo/logo.scss';
