nav.header__nav
    include logo/logo.pug

    include __menu/header__menu.pug

    include ../../../../form-elements/buttons/button__default-border/button__default-border.pug
    +btn-border("login")
    include ../../../../form-elements/buttons/button__default/button__default.pug
    +btn("register")
