.header {

    .header__nav {
        height: 40px;
        padding: 15px 9.72%;
        align-items: center;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
        justify-content: space-between;
        z-index: 4;

        @media (min-width: 1441px) {
            height: 2.777vw;
            padding: 1.041vw 9.72%;
        }

        @media (max-width: 970px) {
            padding: 15px 7%;
        }

        @media (max-width: 924px) {
            padding: 15px 3%;
        }

        @media (max-width: 850px) {
            padding: 15px 1.5%;
        }

        @media (max-width: 790px) {
            padding: 15px 9.72%;
            justify-content: space-around;
        }

        .burger {
            display: none;
            cursor: pointer;

            @media (max-width: 790px) {
                display: block;
            }

            div {
                width: 25px;
                height: 3px;
                background-color: $purple-color;
                margin: 5px;
                transition: all 0.3s ease;
            }
        }

        .header__menu {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            margin-left: auto;
            align-items: center;
            justify-content: space-between;
            min-width: 38.5%;
            margin-right: 1.8%;
            list-style: none;
            padding-inline-start: 0;

            @media (min-width: 1600px) {
                min-width: 45%;
            }
            @media (max-width: 1366px) {
                min-width: 40%;
            }
            @media (max-width: 1280px) {
                min-width: 50%;
            }
            @media (max-width: 790px) {
                margin-left: 0;
                margin-right: 0;
                position: absolute;
                display: none;
                justify-content: space-around;
                flex-direction: column;
                right: 0;
                top: 70px;
                height: 80vh;
                background-color: #fff;
                z-index: 3;
                box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
            }

            .header__menu__item {
                @media (max-width: 790px) {
                    opacity: 0;
                }

                a {
                    color: $dark_50-color;
                    font-style: normal;
                    font-weight: normal;
                    text-decoration: none;
                    transition: all 0.5s ease;
                    display: flex;
                    align-items: center;

                    .material-icons {
                        font-size: 24px;

                        @media (min-width: 1920px) {
                            font-size: 1.667vw;
                        }
                    }
                }
            }
        }

        .menu-active {
            display: flex;
        }

        .header__buttons {
            @media (max-width: 790px) {
                display: none;
            }

            .button__default {
                padding: 9px 20px 10px;
            
                @media (min-width: 1441px) {
                    padding: 0.625vw 1.388vw 0.694vw;
                }

                @media (max-width: 1280px) {
                    padding: 0.625vw 1.388vw 0.694vw;
                }
            }

            .button__default-border {
                padding: 7px 18px 8px;
                margin-right: 20px;

                @media (min-width: 1441px) {
                    padding: 0.486vw 1.25vw 0.555vw;
                    margin-right: 1.5vw;
                }

                @media (max-width: 1280px) {
                    padding: 0.486vw 1.25vw 0.555vw;
                    margin-right: 1.5vw;
                }

                @media (max-width: 790px) {
                    // margin-right: 1vw;
                }
            }

        }
    }
}
@import '../../blocks/header-and-footer/header/__nav/logo/logo.scss';

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px,-6px);
}