.logo {
  background-image: url('img/logo.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 106px;
  height: 40px;
}

.logo-ui-kit {
  background-image: url('img/logo-ui-kit.svg');
  width: 48px;
  height: 48px;
}
