.cards__column--item-6.scss
    .sample-room
        .sample-room_image
            .sample-room_image-left
                i.material-icons keyboard_arrow_left
            .sample-room_image-right
                i.material-icons keyboard_arrow_left
            .ellipses
        .sample-room-info
            .sample-room-info_price.booking-header
                p.booking-number <small>№</small> 888
                p.booking-luxury люкс
                p.booking-cost <strong>9 990&#x20bd</strong><small> в сутки</small>
            .sample-room-info_reviews
                .rate-button__container
                    +rateBtn('star6')
                    +rateBtn('star7')
                    +rateBtn('star8')
                    +rateBtn('star9')
                    +rateBtn('star10')
                p <bold>145</bold> Отзывов
