.cards__column--item-6
    include sample-room/sample-room.pug
    - var rooms = [{class: 'room-1', number: ' 888', luxe: 'люкс', cost: '9 990', stars: [true,true,true,true,true], reviews: '145'},{class: 'room-2', number: '840', luxe: '', cost: '9 990', stars: [true,true,true,true,false], reviews: '65'}]
    +sampleRoom