.cards__column--item-6
    include sample-room/sample-room.pug
    - var rooms = [{class: 'room-1', number: '888', luxe: 'люкс', cost: '9990', stars: [true,true,true,true,false], reviews: '148'},{class: 'room-2', number: '2', luxe: '', cost: '1990', stars: [true,true,true,false,false], reviews: '132'}]
    +sampleRoom