.sample-room {
    width: 270px;
    height: 256.49px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    border-radius: 4px;
}
.sample-room_image {
    position: relative;
    height: 151.38px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sample-room .room-1 {
    background-image: url('/cards/cards__column--item-6/sample-room/image/image_1.png');
}
.sample-room .room-2 {
    background-image: url('/cards/cards__column--item-6/sample-room/image/image_2.png');
}

.sample-room_image-left {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 42px;
    height: 151px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
}
.sample-room_image-right {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 42px;
    height: 151px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
.sample-room_image-left i {
    position: absolute;
    color: #fff;
}
.sample-room_image-right i {
    position: absolute;
    color: #fff;
}
.ellipses {
    position: absolute;
    width: 46px;
    height: 16px;
    right: 5%;
    bottom: 5%;
    z-index: 1;
    background-image: url('/cards/cards__column--item-6/sample-room/svg/ellipses.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 12%;
}
// sample-room-info
.sample-room-info {
    height: 61.12px;
    padding: 24px 21px 20px;
}
.sample-room-info_price {
    margin-bottom: 14px;
    display: flex;
    align-items: flex-end;

    p {
        margin-block-start: 0;
        margin-block-end: 0;
    }
}
.sample-room-info_price .booking-number {
    font-size: 18px;
    font-weight: bold;
}
.sample-room-info_reviews {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(31, 32, 65, 0.1);
}
.sample-room-info_reviews .rate-button__container {
    position: relative;
    left: 0;
    width: 120px;
}
.sample-room-info_reviews .rate-button {
    margin-top: 0;
    margin-bottom: 0;
    height: 0;
}
.sample-room-info_reviews bold {
    font-weight: bold;
}