mixin sampleRoom
    each room in rooms
        .sample-room
            .sample-room_image(class!=room.class)
                .sample-room_image-left
                    i.material-icons keyboard_arrow_left
                .sample-room_image-right
                    i.material-icons keyboard_arrow_left
                .ellipses
            .sample-room-info
                .sample-room-info_price
                    p.booking-number= room.number
                    p.booking-luxury= room.luxe
                    p.booking-cost
                        strong= room.cost
                        strong &#x20bd
                        small  в сутки
                .sample-room-info_reviews
                    .rate-button__container
                        each star, index in room.stars
                            input(type='checkbox' id= room.number + index name='star' disabled checked= star)
                            label(for= room.number + index)
                    p 
                        bold= room.reviews
                        p Отзывов