div(class='account-registration')
    div(class='account-registration-text') Регистрация аккаунта

    //Field

    div(class='field-masked__form-text')
    form(class='field-masked__form')
        input(class='field-masked__form-input' type='text' placeholder='Имя')
    form(class='field-masked__form')
        input(class='field-masked__form-input' type='text' placeholder='Фамилия')


    //Radio-buttons

    div(class='radio-buttons__items')
        div(class='radio-buttons__item')
            input(id='radiobtn3' type='radio' name='radio')
            label(for='radiobtn3') Мужчина
        div(class='radio-buttons__item')
            input(id='radiobtn4' type='radio' name='radio')
            label(for='radiobtn4') Женщина


    //Field

    div(class='field-masked__form-text') дата рождения
    form(class='field-masked__form date-of-birth')
        input(class='field-masked__form-input' type='date')


    //Field

    div(class='field-masked__form-text') данные для входа в сервис
    form(class='field-masked__form')
        input(class='field-masked__form-input' type='email' placeholder='Email')
    form(class='field-masked__form')
        input(class='field-masked__form-input' type='password' placeholder='Пароль')


    //Toggle-buttons

    div(class='toggle-buttons__item')
        input(type='checkbox' id='switch3' name='toggle')
        label(for='switch3') Получать спецпредложения


    //Button__default-long

    button(class='button__defult button__default-long') перейти к оплате
        div(class='button__default-long--icon')


    //Account-registration__footer

    div(class='account-registration__footer')
        p Уже есть аккаунт на Toxin
        button(class='button__defult button__default-border' href='#') Войти