footer(class='footer-widgets-and-copyright-bar__footer')
    div(class='footer-widgets-and-copyright-bar__container')
        div(class='footer-widgets-and-copyright-bar__info')
            div(class='footer-widgets-and-copyright-bar__logo' href='#')
            div(class='footer-widgets-and-copyright-bar__info-content') Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.

        div(class='footer-widgets-and-copyright-bar__navigation')
            ul(class='footer-widgets-and-copyright-bar__navigation-menu')
                li(class='footer-widgets-and-copyright-bar__navigation-menu__item navigation-bold')
                    a(href='#') Navigation
                li(class='footer-widgets-and-copyright-bar__navigation-menu__item')
                    a(href='#') About Us
                li(class='footer-widgets-and-copyright-bar__navigation-menu__item') 
                    a(href='#') News
                li(class='footer-widgets-and-copyright-bar__navigation-menu__item')
                    a(href='#') Support
                li(class='footer-widgets-and-copyright-bar__navigation-menu__item')
                    a(href='#') Products

        div(class='footer-widgets-and-copyright-bar__about-us')
            ul(class='footer-widgets-and-copyright-bar__about-us-menu')
                li(class='footer-widgets-and-copyright-bar__about-us-menu__item about-us-bold')
                    a(href='#') About Us
                li(class='footer-widgets-and-copyright-bar__about-us-menu__item')
                    a(href='#') Who we are
                li(class='footer-widgets-and-copyright-bar__about-us-menu__item') 
                    a(href='#') Our team
                li(class='footer-widgets-and-copyright-bar__nabout-us-menu__item')
                    a(href='#') Carrers
                li(class='footer-widgets-and-copyright-bar__about-us-menu__item')
                    a(href='#') Investors

        div(class='footer-widgets-and-copyright-bar__support')
            ul(class='footer-widgets-and-copyright-bar__support-menu')
                li(class='footer-widgets-and-copyright-bar__support-menu__item support-bold')
                    a(href='#') Support
                li(class='footer-widgets-and-copyright-bar__support-menu__item')
                    a(href='#') Documentation
                li(class='footer-widgets-and-copyright-bar__support-menu__item') 
                    a(href='#') Community
                li(class='footer-widgets-and-copyright-bar__supports-menu__item')
                    a(href='#') Get in Touch

        div(class='footer-widgets-and-copyright-bar__subscribe')
            div(class='footer-widgets-and-copyright-bar__subscribe-title' href='#') Subscribe to our newsletter
            div(class='footer-widgets-and-copyright-bar__subscribe-content') Receive our latest news and promotions in your inbox!
            
        form(class='footer-widgets-and-copyright-bar__subscribe-form')
                input(type='email' name='email')
