.footer-widgets-and-copyright-bar__footer {
    padding: 0;
    height: 443px;
    background-color: #fff;
    margin-top: 40px;
}
.footer-widgets-and-copyright-bar__container {
    height: 372px;
    // align-items: center;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin-left: 140px;

}
.footer-widgets-and-copyright-bar__info {
    width: 260px;
    height: 156px;
    margin-top: 100px;
}
.footer-widgets-and-copyright-bar__logo {
    display: block;
    background-image: url('/headers-and-footers/logo.svg');
    width: 106px;
    height: 40px;
    margin-bottom: 20px;
}
.footer-widgets-and-copyright-bar__info-content {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
}
.footer-widgets-and-copyright-bar__navigation {
    width: 81px;
    height: 168px;
    margin-top: 104px;
    margin-left: 40px;
}
.footer-widgets-and-copyright-bar__about-us {
    width: 82px;
    height: 168px;
    margin-top: 104px;
    margin-left: 119px;
}
.footer-widgets-and-copyright-bar__support {
    width: 113px;
    height: 130px;
    margin-top: 104px;
    margin-left: 118px;
}
.footer-widgets-and-copyright-bar__subscribe {
    width: 215px;
    height: 84px;
    margin-top: 104px;
    margin-left: 87px;

}