.account-login
    .account-login__text
        h1 Войти


    //Field

    .field-masked__form-text
    from(class='field-masked__form')
        input(class='field-masked__form-input' type='email' placeholder='Email')
    from(class='field-masked__form')
        input(class='field-masked__form-input' type='password' placeholder='Пароль')


    //Button__default-long

    +btn_long('войти')


    //Account-login_footer

    .account-login_footer
        p Нет аккаунта на Toxin?
        bitton(class='button__defult button-login') Создать
