.account-login {
	min-width: 26.388vw;
	background: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	padding: 40px 29px 31px;

	@media (min-width: 1441px) {
		padding: 2.777% 2.013% 2.152%;
	}
}
.account-login h1 {
	margin-bottom: 19px;

	@media (min-width: 1441px) {
		margin-bottom: 1.319vw;
	}
}

/*****   Fields   *****/
.fields_account {
	margin-bottom: 20px;

	@media (min-width: 1441px) {
		margin-bottom: 1.388vw;
	}
}
.account-login .field_default {
	margin-bottom: 10px;

	@media (min-width: 1441px) {
		margin-bottom: 0.694vw;
	}
}
/*****   Button__default-long   *****/
.account-login .button__default-long {
	margin-bottom: 30px;

	@media (min-width: 1441px) {
		margin-bottom: 2.083vw;
	}
}

/*****   Account-login_footer   *****/
.account-login_footer {
	display: flex;
    justify-content: space-between;
    align-items: center;
}
.account-login_footer p {
	color: #000000;
	
	@media (max-width: 1280px) {
		margin-right: 10px;
	}
	@media (max-width: 320px) {
		max-width: 100px;
		margin-right: 0;
	}
}
/*****   Button-default-border   *****/
.account-login_footer .button__default-border {
    margin: 0;
}
