.account-login
    h1 Войти


    //Field
    .fields_account
        .field_default.field_hover-focus
            +input('email','email','Email')
        .field_default.field_hover-focus
            +input('password','password','Пароль')


    //Button__default-long

    +btn_long('войти')


    //Account-login_footer

    .account-login_footer
        p Нет аккаунта на Toxin?
        +btn-border("click me")