.account-login {
	width: 380px;
	height: 358px;
	background: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	padding: 40px 30px 30px;
}
.account-login__text {
    margin-bottom: 20px;
}
p {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
}
/*****   Fields   *****/
.field-masked__form-input {
    box-sizing: border-box;
    border-radius: 4px;
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    width: 320px;
    height: 42px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.9px;
    padding-left: 14px;
    color: rgba(31, 32, 65, 0.75);
	margin-bottom: 10px;
}
.field-masked__form-text {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 5px;
    color: #1F2041;
}
.field-masked__form-input::placeholder {
    color: rgba(31, 32, 65, 0.25);
}
.field-masked__form-input:focus::placeholder {
    color: rgba(31, 32, 65, 0.75);
}
.field-masked__form-input:focus{
    border: 1px solid rgba(31, 32, 65, 0.5);
}
/*****   Account-login_footer   *****/  
.account-login_footer {
	display: flex;
    justify-content: space-between;
    align-items: center;

}
.account-login_footer p {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: #000000;
}
/*****   Button__default-long   *****/
.button__defult {
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    width: 99px;
    height: 44px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
    padding: 0 0;
    cursor: pointer;
    font-family: "Montserrat-Regular", sans-serif;
    border-style: none;
    color: white;
}
.button-login {
	width: 99px;
    height: 44px;
    position: relative;
	display: flex;
	align-items: center;
	justify-content: center;

}
.button__defult:hover {
    opacity: 0.5;
}
.button__default-long {
    width: 320px;
    position: relative;
    vertical-align: middle;
	margin-top: 10px;
	margin-bottom: 30px;
}
.button__default-long--icon {
    // background: url('/cards/cards__column--item-4/account-login/svg/arrow_forward-empty.svg');
    display: block;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    position: absolute;
	left: 328px;
	top: 224px;
    cursor: pointer;
}