extends ../../blocks/layout/layout

include ../../blocks/footer/footer
include ../../blocks/footer-creative/footer-creative
include ../../blocks/header/header
include ../../blocks/logo/logo

block title
  title headers-footers
block header
block content
  .headers-footers
    .headers-footers__wrapper
      +logo({ui: true})
    +header({ list: [
      {title: 'Home', bold: 'item--bold'},
      {title: 'About Us'},
      {title: 'Services', more: true},
      {title: 'Careers'},
      {title: 'News'},
      {title: 'Documentation'},
    ], reg: {on: false}, buttons: {title1: 'Login', title2: 'Register'}})
    +header({ list: [
      {title: 'Home', bold: 'item--bold'},
      {title: 'About Us'},
      {title: 'Services', more: true},
      {title: 'Careers'},
      {title: 'News'},
      {title: 'Documentation'},
    ], reg: {on: true, name: 'Cosmin Negota'}, buttons: {title1: 'Login', title2: 'Register'}})
    +footer({
      info: 'Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.',
      list1: [
        {title: 'Navigation', bold: 'item--bold'},
        {title: 'About Us'},
        {title: 'News'},
        {title: 'Support'},
        {title: 'Products'}
      ],
      list2: [
        {title: 'About Us', bold: 'item--bold'},
        {title: 'Who we are'},
        {title: 'Our team'},
        {title: 'Careers'},
        {title: 'Investors'}
      ],
      list3: [
        {title: 'Support', bold: 'item--bold'},
        {title: 'Documentation'},
        {title: 'Community'},
        {title: 'Get in Touch'}
      ],
      title: 'Subscribe to our newsletter',
      text: 'Receive our latest news and promotions in your inbox!',
      placeholder: 'Your email address',
      copyright: 'Copyright © 2018 Toxin UI Kit. All rights reserved.'
    })

    +footer-creative



block footer