.footer__container {
    // height: 18.750vw;
    padding: 6.644vw 9.722vw;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;

    @media (max-width: 970px) {
        padding: 6.644vw 7%;
    }

    @media (max-width: 719px) {
        flex-direction: column;
        padding: 6.644vw 9.72%;
    }

    .nav {
        display: flex;
        justify-content: space-between;
        width: 38vw;
        margin-bottom: 20px;

        @media (max-width: 1023px) {
            width: 55vw;
        }

        @media (max-width: 719px) {
            width: 100%;
            justify-content: space-around;
        }

        @media (max-width: 350px) {
            flex-direction: column;
            justify-content: space-between;
        }
    }

    ul {
        margin-top: 0.277vw;
    }

    @import 'info/info.scss';

    @import 'navigation/navigation.scss';

    @import 'about-us/about-us.scss';

    @import 'support/support.scss';

    @import 'subscribe/subscribe.scss';
}