.footer__container {
    height: 18.750vw;
    padding: 7.083vw 0 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;

    @import 'info/info.scss';

    @import 'navigation/navigation.scss';

    @import 'about-us/about-us.scss';

    @import 'support/support.scss';

    @import 'subscribe/subscribe.scss';
}