@import '../../colors-and-type/colors-and-type.scss';

.feature {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid $dark_10-color;

  .feature__icon {
    font-size: 48px;
    background: $gradient-color;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-right: 10px;
  }

  .feature__info {
    font-size: 14px;

    .feature__title {
      font-weight: bold;
    }
  }
}
