@import '../../colors-and-type/colors-and-type.scss';

.feature {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid $dark_10-color;

  &__icon {
    font-size: 48px;
    background: $gradient-color;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-right: 10px;
  }

  &__info {
    font-size: 14px;
  }

  &__title {
    font-weight: bold;
  }
}
