//- mixin expand
//-     a(class='expand' href='#')
//-         img(src='headers-and-footers/expand.svg')

include standart-nav-bar/standart-nav-bar.pug
include standard-logged-in-nav-bar/standard-logged-in-nav-bar.pug