mixin logo
    div(class='logo' href='#')
        img(src='headers-and-footers/logo.svg')
        
mixin expand
    a(class='expand' href='#')
        img(src='headers-and-footers/expand.svg')

include standart-nav-bar/standart-nav-bar.pug