mixin guests
    .guests
        .field-guests Сколько гостей
            i(class='material-icons') expand_more
        //dropdown
        .dropdown-guests
            .dropdown-container
                .dropdown-container-text взрослые
                .quantity
                    input(type='number' id="adults" min="0" max="9" step="1" value="0")

            .dropdown-container
                .dropdown-container-text дети
                .quantity
                    input(type='number' id="childs" min="0" max="9" step="1" value="0")

            .dropdown-container
                .dropdown-container-text младенцы
                .quantity
                    input(type='number' id="babies" min="0" max="9" step="1" value="0")
            //clear-apply
            .dropdown-container.container__clear-apply
                .clear-quantity-invisible очистить
                .apply-quantity применить

.dropdown_default
    h3 dropdown_default
    +guests