@import './pagination/pagination.scss';

.pagination__block {
    margin-bottom: 244px;
}
.pagination__name {
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 16px;
}
