@import '../../colors-and-type/colors-and-type.scss';

.field__wrapper {
  position: relative;

  .filed__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 24px;

    .field__title {
      line-height: 24px;
    }

    .field__note {
      font-size: 12px;
      text-transform: uppercase;
    }
  }

  .field__input {
    font-family: 'montserrat', sans-serif;
    box-sizing: border-box;
    border-radius: 4px;
    background: #ffffff;
    border: 1px solid $dark_25-color;
    width: 100%;
    line-height: 18px;
    padding: 12px 15px;
    color: $dark_75-color;
    letter-spacing: 0.02rem;
    outline: none;

    &::placeholder {
      color: $dark_25-color;
      font-size: 14px;
      line-height: 18px;
    }
    
    &:focus,
    &:hover {
      border: 1px solid $dark_50-color;
      color: $dark_75-color;
    }
  }

  .dropdown-menu {
    display: none;
  }

  .dropdown-menu_open {
    display: block;
  }

  .expand-more__icon {
    position: absolute;
    top: 35px;
    right: 10px;
    font-size: 24px;
    line-height: 24px;
    color: $dark_50-color;
    cursor: pointer;
  }
  
  .arrow__icon {
    position: absolute;
    top: 35px;
    right: 10px;
    font-size: 24px;
    line-height: 24px;
    background: $gradient-color;
    cursor: pointer;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
