$dark_100-color: #1F2041;
$dark_75-color: rgba(31, 32, 65, 0.75);
$dark_50-color: rgba(31, 32, 65, 0.5);
$dark_25-color: rgba(31, 32, 65, 0.25);
.dropdown-expanded {
    display: block;
    height: 64.44px;
}
.dropdown-expanded__form {
    position: relative;
    width: 266px;
}
.dropdown-expanded__form-input {
    display: block;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    height: 42px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.9px;
    padding-left: 14px;
    color: $dark_75-color;
}
.dropdown-expanded__form-text {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 5px;
    color: $dark_100-color;
}
.dropdown-expanded__form-input::placeholder {
    color: $dark_75-color;
}
.dropdown-expanded__form-input:focus::placeholder {
    color: $dark_75-color;
}
.dropdown-expanded__form-input:focus{
    border: 1px solid rgba(31, 32, 65, 0.5);
}
.dropdown-expanded__form-input-expand {
    position: absolute;
    top: 0;
    right: 0;
    background-image: url('/form-elements/dropdown-expanded/svg/expand.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 44px;
    height: 44px;
}