div(class='dropdown-expanded')
    div(class='dropdown-expanded__form-text') expanded dropdown
    form(class='dropdown-expanded__form')
        input(class='dropdown-expanded__form-input' type="date" name="data-start" value="07-22" min="01-01" max="12-31")
        a(class='dropdown-expanded__form-input-expand' href='#')