.footer__subscribe {
    height: 5.833vw;
    min-width: 10vw;

    h3 {
        margin-bottom: 1.389vw;
    }

    .footer__subscribe-content {
        max-width: 18.056vw;
        line-height: 1.667vw;
        color: $dark_75-color;
        margin-bottom: 22px;
    }

    form {
        position: relative;
        width: 260px;

        input {
            display: block;
            box-sizing: border-box;
            border-radius: 4px;
            background: #FFFFFF;
            border: 1px solid rgba(31, 32, 65, 0.25);
            width: 260px;
            height: 42px;
            padding-left: 14px;

            &::placeholder {
                color: $dark_25-color;
            }

            &:hover {
                border: 1px solid $dark_50-color;
            }
        }

        .material-icons {
            position: absolute;
            right: 5%;
            top: 22%;
            color: $purple-color;
            cursor: pointer;
        }
    }
}