.footer__subscribe {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 10.625vw;
    min-width: 10vw;

    @media (max-width: 1025px) {
        height: auto;
    }

    h3 {
        margin-top: 0.277vw;
    }

    .footer__subscribe-content {
        max-width: 18.056vw;
        line-height: 1.667vw;
        color: $dark_75-color;
    }

    form {
        position: relative;
        width: 100%;

        input {
            display: block;
            box-sizing: border-box;
            border-radius: 4px;
            background: #FFFFFF;
            border: 1px solid rgba(31, 32, 65, 0.25);
            width: 100%;
            padding: 12px 14px;
            font-size: 14px;

            @media (min-width: 1920px) {
                font-size: 0.972vw;
                padding: 0.833vw 0.972vw;
            }

            &::placeholder {
                color: $dark_25-color;
            }

            &:hover {
                border: 1px solid $dark_50-color;
            }
        }

        .material-icons {
            position: absolute;
            right: 5%;
            top: 22%;
            color: $purple-color;
            cursor: pointer;
            // font-size: 1.667vw;
        }
    }
}