.footer__subscribe
    h3= subscribe.title
    .footer__subscribe-content= subscribe.content
    form
        input(type='email' name='email' placeholder='Email')
        i.material-icons arrow_forward