.copyright-bar {
  padding: 0 9.722vw;
  background-color: #ffffff;
  border-top: 1px solid #e5e5e5;

  @media (max-width: 970px) {
    padding: 0 7%;
  }

  @import '__container/__container.scss';
}
