.selection-dates{
    display: flex;
    align-items: center;
    position: relative;
    width: 266px;
}
.selection-dates i {
    position: absolute;
    right: 3%;
    color: rgba(31, 32, 65, 0.5);
}
.datepicker-here {
    width: 266px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 12px 15px;
}