mixin selDate(id)
    .selection-dates(class!=attributes.class)
        input(type='text' data-range="true" data-multiple-dates-separator=" - " class="datepicker-here" id=id)
        i(class='material-icons') expand_more