mixin selDate(title)
    .selection-dates
        input(type='text' data-range="true" data-multiple-dates-separator=" - " class="datepicker-here" id=title)
        i(class='material-icons') expand_more