include ../like-button/like-button

mixin comment({img, name, date, liked, counter, text})
  .comment
    .comment__icons
      .comment__avatar(style=`background-image: url('img/${img}.jpg')`)
      +like-button({liked: liked, counter: counter})
    .comment__container
      .comment__title
        .comment__name= name
        .comment__date= date
      .comment__text= text
