include ../dropdown-filter/selection-dates/selection-dates.pug

.dropdown_date
    .dropdown_date-from
        h3 date dropdown
        +selDate("dpicker")(class='date-from')
    .dropdown_date-to
        h3 date dropdown
        +selDate("dpicker")(class='date-to')

