.copyright-bar__container
  include text/text.pug
  .logo__container
    include logo-social/logo-social.pug
    +logo-social("copyright-bar__twitter")
    +logo-social("copyright-bar__facebook")
    +logo-social("copyright-bar__instagram")
