.button__defult:hover {
    opacity: 0.5;
}
.button__default-border {
    position: relative;
    display: inline-block;
}
.button__default-border::before {
    content: 'click me';
    position: absolute;
    line-height: 40px;
    z-index: 1;
    top: 2px;
    left: 2px;
    border-radius: 22px;
    background: #fff;
    width: 95px;
    height: 40px;
    color: #BC9CFF;
}