.form-elements
    .column
        .left-column
            include field_default/field_default.pug
            include field_hover-focus/field_hover-focus.pug
            include dropdown_default/dropdown_default.pug
            include field_masked/field_masked.pug
            include dropdown_date/dropdown_date.pug
            include dropdown-filter/dropdown-filter.pug
            include field_subscription/field_subscription.pug
            include dropdown_default__furniture/dropdown_default__furniture.pug
            include dropdown_expanded/dropdown_expanded.pug
            include expandable-checkbox-list/expandable-checkbox-list.pug
            include expandable-checkbox-list/expandable-checkbox-list.pug
            include info/info.pug
        .center-column
            include checkbox-buttons/checkbox-buttons.pug
            include radio-buttons/radio-buttons.pug
            include toggle-buttons/toggle-buttons.pug
            include like-button/like-button.pug
            include rate-button/rate-button.pug
        .right-column
            include range-slider/range-slider.pug
            include buttons/buttons.pug
            include pagination/pagination.pug