.form-elements {
    background-color: #FFFFFF;
    margin-top: 40px;
    padding: 140px 141px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.column {
    display: flex;
}
.dropdown {
    margin-top: 20px;
    margin-bottom: 20px;
}
.dropdown-data {
    margin-top: 20px;
    margin-bottom: 20px;
}
.dropdown-expanded {
    margin-top: 20px;
    margin-bottom: 20px;
}
.left-column {
    display: block;
}
.center-column {
    display: block;
    margin-left: 126px;
    margin-right: 72px;
}
.right-column {
    display: block;
}
.footer-elements {
    display: flex;
    margin-top: 215px;
}
@import './field_default/field_default.scss';
@import './field_hover-focus/field_hover-focus.scss';
@import './dropdown_default/dropdown_default.scss';
@import './field_masked/field_masked.scss';
@import './dropdown_date/dropdown_date.scss';
@import './dropdown-filter/dropdown-filter.scss';
@import './field_subscription/field_subscription.scss';
@import './dropdown_default__furniture/dropdown_default__furniture.scss';
@import './dropdown_expanded/dropdown_expanded.scss';
@import './expandable-checkbox-list/expandable-checkbox-list.scss';
@import './info/info.scss';

//center-column
@import './checkbox-buttons/checkbox-buttons.scss';
@import './radio-buttons/radio-buttons.scss';
@import './toggle-buttons/toggle-buttons.scss';
@import './like-button/like-button.scss';
@import './rate-button-container/rate-button-container.scss';
@import './checkbox-buttons__rich/checkbox-buttons__rich.scss';
@import './review/review.scss';

// right-column
@import './range-slider-container/range-slider-container.scss';
@import './buttons/buttons.scss';
@import './pagination-block/pagination-block.scss';
@import './bullet-list/bullet-list.scss';
