div(class='form-elements')
    div(class='column')
        div(class='left-column')
            include field_default/field_default.pug
            include field_hover-focus/field_hover-focus.pug
            include dropdown_default/dropdown_default.pug
            include field_masked/field_masked.pug
            include dropdown-data/dropdown-data.pug
            include dropdown-filter/dropdown-filter.pug
            include dropdown-expanded/dropdown-expanded.pug
            include expandable-checkbox-list/expandable-checkbox-list.pug
            include info/info.pug
        div(class='center-column')
            include checkbox-buttons/checkbox-buttons.pug
            include radio-buttons/radio-buttons.pug
            include toggle-buttons/toggle-buttons.pug
            include like-button/like-button.pug
            include rate-button/rate-button.pug
        div(class='right-column')
            include range-slider/range-slider.pug
            include buttons/buttons.pug
            include pagination/pagination.pug