.form-elements {
    height: 1853px;
    width: 1440px;
    background-color: #FFFFFF;
    margin-top: 40px;
    padding: 140px 141px;
    display: flex;
    flex-direction: column;
}
.column {
    display: flex;
}
.dropdown {
    margin-top: 20px;
    margin-bottom: 20px;
}
.dropdown-data {
    margin-top: 20px;
    margin-bottom: 20px;
}
.dropdown-expanded {
    margin-top: 20px;
    margin-bottom: 20px;
}
.left-column {
    display: block;
}
.center-column {
    display: block;
    margin-left: 126px;
    margin-right: 132px;
}
.right-column {
    display: block;
}
@import 'form-elements/field-default/field-default.scss';
@import 'form-elements/dropdown-default/dropdown-default.scss';
@import 'form-elements/field-masked/field-masked.scss';
@import 'form-elements/dropdown-data/dropdown-data.scss';
@import 'form-elements/dropdown-filter/dropdown-filter.scss';
@import 'form-elements/dropdown-expanded/dropdown-expanded.scss';
@import 'form-elements/expandable-checkbox-list/expandable-checkbox-list.scss';
@import 'form-elements/info/info.scss';
@import 'form-elements/checkbox-buttons/checkbox-buttons.scss';
@import 'form-elements/radio-buttons/radio-buttons.scss';
@import 'form-elements/toggle-buttons/toggle-buttons.scss';
@import 'form-elements/like-button/like-button.scss';
@import 'form-elements/rate-button/rate-button.scss';
@import 'form-elements/range-slider/range-slider.scss';
