include header/header.pug
include footer/footer.pug
+footer({info: "Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis."}, [{item: "Navigation"}, {item: "About Us"}, {item: "News"}, {item: "Support"}, {item: "Products"}], [{item: "About Us"}, {item: "Who we are"}, {item: "Our team"}, {item: "Carrers"}, {item: "Investors"}], [{item: "Support"}, {item: "Documentation"}, {item: "Community"}, {item: "Get in Touch"}], {title: "Subscribe to our newsletter", content: "Receive our latest news and promotions in your inbox!"}, {copyright: "Copyright © 2018 Toxin UI Kit. All rights reserved."})
