div(class='field-default')
    div(class='field-default__form-text') text field
    form(class='field-default__form')
        input(class='field-default__form-input' type='email' name='email' placeholder='Еmail')
