mixin checkbox(title,id)
    li.expandable-checkbox__submenu-item
        input(id=id type='checkbox' name='check' class='expandable-checkbox__submenu-item-input')
        label(for=id)= title

.expandable-checkbox-list
    .expandable-checkbox-list__menu expandable checkbox list
    ul.expandable-checkbox-list__submenu
        +checkbox('Завтрак','check1')
        +checkbox('Письменный стол','check2')
        +checkbox('Стул для кормления','check3')
        +checkbox('Кроватка','check4')
        +checkbox('Телевизор','check5')
        +checkbox('Шампунь','check6')
        +checkbox('Телевизор','check7')
        +checkbox('Шампунь','check8')