@import '../../colors-and-type/colors-and-type.scss';

.toggle {

  &__label {
    padding-left: 50px;
    position: relative;
    cursor: pointer;
    user-select: none;
  }

  &__input {
    display: none;
  }

  &__marker {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 20px;
    border: 1px solid $dark_25-color;
    border-radius: 10px;
    transition: 0.3s;
  }

  &__marker::after {
    display: block;
    position: absolute;
    content: '';
    width: 12px;
    height: 12px;
    top: 4px;
    left: 4px;
    border-radius: 50%;
    background-color: $dark_25-color;
    transition: 0.3s;
  }

  &__input:checked ~ &__marker::after {
    transform: translateX(20px);
    background-image: $gradient-color;
  }

  &__input:checked ~ &__marker {
    border-color: $purple-color;
  }


}