mixin rateBtn(id)
    input(type='radio' id=id name='star')
    label(for=id)
.rate-button
    .rate-button__name rate button
    .rate-button__container
        +rateBtn('star1')
        +rateBtn('star2')
        +rateBtn('star3')
        +rateBtn('star4')
        +rateBtn('star5')