.rate-button {
    margin-top: 46px;
    position: relative;
    margin-bottom: 238px;
}
.rate-button__name {
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    color: $dark_100-color;
    margin-bottom: 16px;
    display: block;
}
.rate-button__container {
    display: flex;
    position: absolute;
}
.rate-button__container input{
    display: none;
}
.rate-button__container label{
    display: block;
    cursor: context-menu;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-image: url('/form-elements/rate-button/svg/star_border.svg');
}
.rate-button__container input:checked + label {
    background-image: url('/form-elements/rate-button/svg/star.svg');
}
// .rate-button__container input {
//     display: none;
//     display: block;
//     position: relative;
//     width: 24px;
//     height: 24px;
//     background-repeat: no-repeat;
//     background-image: url('/form-elements/rate-button/svg/star_border.svg');
// }
// .rate-button__container input[checked='true'] {
//     display: block;
//     top: 0;
//     opacity: 0;
//     width: 24px;
//     height: 24px;
//     background-repeat: no-repeat;
//     background-image: url('/form-elements/rate-button/svg/star.svg');
// }
