.rate-button
    .rate-button__name rate button
    .rate-button__container
        input(type='radio' id='star5' name='star')
        label(for='star5')
        input(type='radio' id='star4' name='star')
        label(for='star4')
        input(type='radio' id='star3' name='star')
        label(for='star3')
        input(type='radio' id='star2' name='star')
        label(for='star2')
        input(type='radio' id='star1' name='star')
        label(for='star1')
