.rate-button {
    margin-top: 46px;
    position: relative;
    margin-bottom: 238px;
}
.rate-button__name {
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    color: $dark_100-color;
    margin-bottom: 16px;
    display: block;
}
.rate-button__container {
    display: flex;
    left: -1%;
    position: absolute;
    transform: rotateY(180deg);
}
.rate-button__container input {
    display: none;
}
.rate-button__container label {
    display: block;
    cursor: pointer;
}
.rate-button__container label::before {
    content: '';
    display: block;
    position: relative;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-image: url('./form-elements/rate-button/svg/star_border.svg');
}
.rate-button__container label::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    opacity: 0;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-image: url('./form-elements/rate-button/svg/star.svg');
}
.rate-button__container input:checked ~ label:after,
.rate-button__container label:hover ~ label:after,
.rate-button__container label:hover:after
 {
    opacity: 1 ;
}