mixin rateBtn()
    .rate-button__container
        each star in stars
            input(type='radio' id='star'+star name='star')
            label(for='star'+star)

- var stars = [1,2,3,4,5]

.rate-button
    .rate-button__name rate buttons
        +rateBtn