mixin rateBtn()
    .rate-button__container
        each val, index in stars
            input(type='checkbox' id='star'+index name='star' disabled checked= val)
            label(for='star'+index)

- var stars = {1:true,2:true,3:true,4:false,5:false}

.rate-button
    .rate-button__name rate buttons
        +rateBtn
