div(class='info')
    div(class='comfort')
        div(class='comfort__icon')
        div(class='comfort__text')
            b Комфорт
            p Шумопоглощающие стены
    div(class='rectangle')
    div(class='convenience')
        div(class='convenience__icon')
        div(class='convenience__text')
            b Удобство
            p Окно в каждой из спален
    div(class='rectangle')