.info
    .comfort
        .comfort__icon
        .comfort__text
            b Комфорт
            p Шумопоглощающие стены
    .rectangle
    .convenience
        .convenience__icon
        .convenience__text
            b Удобство
            p Окно в каждой из спален
    .rectangle