header(class='standard-logged-in-nav-bar__header')
    div(class='standard-logged-in-nav-bar__container')
        div(class='standard-logged-in-nav-bar__nav')
            div(class='standard-logged-in-nav-bar__logo' href='#')

            ul(class='standard-logged-in-nav-bar__menu')
                li(class='standard-logged-in-nav-bar__menu__item standard-logged-in-nav-bar__home')
                    a(href='#') Home
                li(class='standard-logged-in-nav-bar__menu__item')
                    a(href='#') About Us
                li(class='standard-logged-in-nav-bar__menu__item')
                    a(href='#') Services
                li(class='standard-logged-in-nav-bar__menu__item')
                    a(class='standard-logged-in-nav-bar__menu__item_expand' href='#')
                li(class='standard-logged-in-nav-bar__menu__item')
                    a(href='#') Carrers
                li(class='standard-logged-in-nav-bar__menu__item')
                    a(href='#') News
                li(class='standard-logged-in-nav-bar__menu__item')
                    a(href='#') Documentation

            a(class='standard-logged-in-nav-bar__line' href='#')
            a(class='standard-logged-in-nav-bar__user' href='#') Cosmin Negoita