.standard-logged-in-nav-bar__header {
    padding: 0;
    height: 70px;
}
ul, li {
    display: block;
    padding: 0;
    margin: 0;
    align-items: center;
}
.standard-logged-in-nav-bar__container{
    margin: 10px 0;
    max-width: 1440px;
}
.standard-logged-in-nav-bar__nav {
    padding: 15px 0;
    align-items: center;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
.standard-logged-in-nav-bar__logo {
    display: block;
    background-image: url('/headers-and-footers/logo.svg');
    width: 106px;
    height: 40px;
    margin-left: 140px;
}
.standard-logged-in-nav-bar__menu {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin-left: 349.31px;
}
.standard-logged-in-nav-bar__menu__item {
    margin-right: 28px;
}
.standard-logged-in-nav-bar__menu__item:nth-child(3) {
    margin-right: 0px;
}
.standard-logged-in-nav-bar__menu__item a {
    color: rgba(31, 32, 65, 0.5);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}
.standard-logged-in-nav-bar__menu__item a:hover {
    border-bottom: 1px solid rgba(31, 32, 65, 0.5);
}
a {
    text-decoration: none;
    transition: all 0.5s ease;
}
.standard-logged-in-nav-bar__home a {
    margin-right: 2px;
    font-weight: bold;
    color: rgba(31, 32, 65, 0.75);
}
.standard-logged-in-nav-bar__user {
    color: rgba(31, 32, 65, 0.5);
    margin-right: 140px;
}
.standard-logged-in-nav-bar__line {
    display: block;
    background-image: url('/headers-and-footers/standard-logged-in-nav-bar/line.svg');
    width: 1px;
    height: 30px;
    margin-right: 30px;
}
.standard-logged-in-nav-bar__btn_login:hover {
    background: #BC9CFF;
    color: #fff;
}
.standard-logged-in-nav-bar__menu__item_expand {
    display: block;
    background-image: url('/headers-and-footers/expand.svg');
    width: 12px;
    height: 8px;
}