.field_subscription {
  margin-bottom: 103px;
}
.field_subscription form {
  position: relative;
  height: 44px;
}
.field_subscription input {
  width: 267px;
}
.field_subscription i {
  position: absolute;
  left: 72%;
  top: 22%;
  color: $purple-color;
  cursor: pointer;
}
