include ../checkbox/checkbox

mixin checkbox-buttons({ list=[] } = {})
  .checkbox-buttons
    each item in list
      .checkbox-buttons__wrapper
        +checkbox({ label: item.label, checked: item.checked, name: item.name})
