mixin menu({ list=[] })
  .menu.js-menu
    i.material-icons.burger-menu.js-burger-menu
    nav.nav-menu.js-nav-menu
      each item in list
        - let classes = [""];
        if item.bold
          - classes.push(`${item.bold}`);
        if item.more
          - classes.push("expand-more");
        .nav-menu__item.js-nav-menu__item
          a.nav-menu__item-link.js-menu-more(class=classes, href=item.href)= item.title
          if item.more
            .js-nav-menu__submenu
              each subitem in item.sublist
                a.nav-menu__submenu-item(href=subitem.subhref)= subitem.subtitle
