@import '../../colors-and-type/colors-and-type.scss';

.menu {
  display: flex;
  align-items: center;

  @media (max-width: 1020px) {
    justify-content: center;
  }

  &__nav {
    display: flex;

    @media (max-width: 1020px) {
      display: none;
    }

    &_active {
      top: 0;
      right: 0;
      display: flex;
      align-items: center;
      flex-direction: column;
      border-radius: 4px;
      z-index: 40;
    }

    &-item {
      position: relative;
      margin-left: 20px;

      @media (max-width: 1020px) {
        margin: 5px 0;
      }

      &_more {
        display: flex;
      }
    }

    &-link {
      display: flex;
      color: $dark_50-color;
      align-items: center;
      cursor: pointer;

      &:active,
      &:hover,
      &:focus {
        color: $dark_100-color;
      }

      &_bold {
        font-weight: bold;
        color: $dark_75-color;
      }
    }

    &-arrow {
      font-size: 24px;

      &_expanded {
        transform: rotate(180deg);
      }
    }
  }

  &__submenu {
    display: none;

    &_active {
      display: block;
      position: absolute;
      top: 40px;
      background-color: white;
      border-radius: 4px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      padding: 10px 15px;
      z-index: 20;

      @media (max-width: 1020px) {
        right: 100%;
        top: 0;
      }
    }

    &-item {
      display: flex;
      color: $dark_50-color;
      align-items: center;
      cursor: pointer;
      padding: 5px 0;
    }
  }
}
