mixin menu({ list=[] })
  .js-menu.menu
    nav.menu__nav.js-menu__nav
      each item in list
        - let classes = [''];
        if item.bold
          - classes.push(`${item.bold}`);
        if item.more
          - classes.push('js-menu__nav-link');
        - let navClass = item.more ? 'menu__nav-item_more' : ''
        .menu__nav-item(class=navClass)
          a.menu__nav-link(class=classes, href=item.href)= item.title
          if item.more
            i.js-menu__nav-arrow.material-icons.menu__nav-arrow expand_more
          if item.more
            .js-menu__submenu.menu__submenu
              each subitem in item.sublist
                a.menu__submenu-item(href=subitem.subhref)= subitem.subtitle
