mixin bullets
    .bullet-list-content
        .bullet
            i.material-icons fiber_manual_record
            p Нельзя с питомцами
        .bullet
            i.material-icons fiber_manual_record
            p Без вечеринок и мероприятий
        .bullet
            i.material-icons fiber_manual_record
            p Время прибытия — после 13:00, а выезд до 12:00