.cards__column--item-6 {
  margin-bottom: 40px;

  .sample-room {
    margin-bottom: 40px;

    .room-1 {
      background-image: url('../../cards/cards__column--item-6/sample-room/img/sample-room (1).png');
    }

    .room-2 {
      background-image: url('../../cards/cards__column--item-6/sample-room/img/sample-room (2).png');
    }
  }
}
@import 'sample-room/sample-room.scss';
