.dropdown_expanded {
  margin-bottom: 159px;
}
.dropdown_expanded h3 {
  margin-bottom: 5px;
}
.dropdown_expanded .field-guests {
  width: 266px;
}
.dropdown_expanded .dropdown-guests {
  width: 243px;
}
