@import 'normalize.css';
@import 'colors-and-type/colors-and-type.scss';
@import 'fonts/fonts.scss';
@import 'form-elements/form-elements.scss';
@import 'cards/cards.scss';
@import 'blocks/header-and-footer/header-and-footer.scss';
.l-page {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.l-page .header {
    position: relative;
    z-index: 1;
}
.content {
    width: 100%;
    height: 830px;
    background: url('pages/landing-page/image/image_3.png');
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 0;
    background-size: 100% 100%;
}
.l-page .number-selection {
    margin-left: 9.7%;
    margin-top: 4.85%;
}
.content > p {
    position: absolute;
    width: 297px;
    margin-block-start: 0;
    margin-block-end: 0;
    right: 9.7%;
    bottom: 4.85%;
    line-height: 24px;
}
.l-page .footer {
    position: relative;
    z-index: 1;
    margin-top: 0;
}