extends blocks/layout/layout

block title
  title index
block header
block content
  .links-wrapper
    a(href="ui-kit.html") ui-kit
    a(href="sign-in.html") sign-in
    a(href="sign-up.html") sign-up
    a(href="landing.html") landing
    a(href="search-room.html") search-room


