@import 'normalize.css';
@import 'colors-and-type/colors-and-type.scss';
@import 'fonts/fonts.scss';

.list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: auto auto;
    padding: 20% 20%;

    li {
        display: block;

        a {
            text-decoration: none;
            font-size: 18px;
        }
    }
}