<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title ui-kit
    body
        include header-and-footer/header-and-footer.pug
        include form-elements/form-elements.pug
        script(src='./main.js')