doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        title toxin
    body
        ul.list
            li
                a(href='./src/pages/ui-kit/ui-kit.html') ui-kit
            li
                a(href='./src/pages/sign-in/sign-in.html') sign-in
            li
                a(href='./src/pages/registration/registration.html') registration
            li
                a(href='./src/pages/search-room/search-room.html') search-room
            li
                a(href='./src/pages/landing-page/landing-page.html') landing-page
            li
                a(href='./src/pages/room-details/room-details.html') room-details
        //- script(src='index.js')
