doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        title toxin
    body
        .l-page
            .header
                include blocks/header-and-footer/header/__nav/header__nav.pug
                +header-nav([
                    {text: "О нас", icon: ""},
                    {text: "Услуги", icon: "expand_more"},
                    {text: "Вакансии", icon: ""},
                    {text: "Новости", icon: ""},
                    {text: "Соглашения", icon: "expand_more"}
                    ],{registered: false},
                    {nickname: 'Cosmin Negoita'},
                    'войти','pages/sign-in/sign-in.pug',
                    'зарегистрироваться','pages/registration/registration.pug')

            .content
                include cards/cards__column--item-1/number-selection/number-selection.pug
                p Лучшие номера для вашей работы, отдыха и просто вдохновения
            include blocks/header-and-footer/footer/footer.pug

            script(src='index.js')
