body{
    margin: 0;
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 13.6px;
    background-color: #E5E5E5;
}
@import 'fonts/fonts.scss';
@import 'header-and-footer/header-and-footer.scss';
