@import '../../colors-and-type/colors-and-type.scss';

.bullet {
  display: flex;
  align-items: baseline;

  .bullet__point {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: $dark_25-color;
    margin-right: 10px;
  }

  .bullet__text {
    max-width: 235px;
  }
}