.cards {
  background-color: #e5e5e5;

  &__logo {
    padding: 30px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 42px 140px;

    .cards__column {
      max-width: 380px;

      .sample {
        margin-top: 40px;
      }
    }
  }
}
