extends ../../blocks/layout/layout

include ../../blocks/booking/booking
include ../../blocks/login/login
include ../../blocks/logo/logo
include ../../blocks/register/register
include ../../blocks/search/search

block title
  title cards

block header
block content
  .cards
    .cards__logo
      +logo({ui: true})
    .cards__wrapper
      .cards__column
        .cards__item
          +search({ title: 'Найдём номера под ваши пожелания' })

        .cards__item
          +register({ title: 'Регистрация аккаунта' })
      
      .cards__column
        .cards__item
          +booking({
              header:{numeration: '№', number: '888', luxury: 'люкс', cost: '9 990₽', inday: 'в сутки'},
              price: [
                {name: '9 990₽ х 4 суток', cost: '39 960₽'},
                {name: 'Сбор за услуги: скидка 2 179₽', info: true, cost: '0₽'},
                {name: 'Сбор за дополнительные услуги', info: true, cost: '300₽'}
              ],
              total: '38 081₽'
            })
            
        .cards__item
          +login({ title: 'Войти'})


      .cards__column

block footer

