extends ../../blocks/layout/layout

include ../../blocks/booking/booking
include ../../blocks/field/field
include ../../blocks/login/login
include ../../blocks/logo/logo
include ../../blocks/register/register
include ../../blocks/sample/sample
include ../../blocks/search/search

block title
  title cards

block header
block content
  .cards
    .cards__logo
      +logo({ui: true})
    .cards__wrapper
      .cards__column
        .cards__item
          +search({ title: 'Найдём номера под ваши пожелания' })

        .cards__item
          +register({ title: 'Регистрация аккаунта' })

      .cards__column
        .cards__item
          +booking({ header:{number: '888', luxury: 'люкс', cost: '9 990₽'}, price: [ {name: '9 990₽ х 4 суток', cost: '39 960₽'}, {name: 'Сбор за услуги: скидка 2 179₽', info: true, cost: '0₽'}, {name: 'Сбор за дополнительные услуги', info: true, cost: '300₽'} ], total: '38 081₽' })

        .cards__item
          +login({ title: 'Войти'})

      .cards__column
        .js-calendar
          .js-calendar__range

        +sample({ list: [ {href: 'room-details.html', img: ['1', '2', '3', '4'], arrows: true, number: '888', luxury: 'люкс', cost: '9 990', rate: 5, reviews: '145'}, {href: 'room-details.html', img: ['2', '3', '4', '5'], arrows: false, number: '840', cost: '9 900', rate: 4, reviews: '65'} ]})

block footer
