.cards {
  background-color: #e5e5e5;

  &__logo {
    padding: 30px;
  }

  &__wrapper {
    display: grid;
    grid-template-areas:
    'left center right';
    grid-template-columns: 380px 380px 320px;
    gap: 40px;
    padding: 42px 140px;
  }

  &__column-left {
    grid-area: left;
  }

  &__column-center {
    grid-area: center;
  }

  &__column-right {
    grid-area: right;
  }

  &__register {
    margin-top: 40px;
  }

  &__calendar {
    margin-bottom: 40px;
  }

  .sample {
    margin-bottom: 38px;
  }


}
