.info {
    max-width: 260px;
    height: 132px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @import 'logo/logo.scss';

    @import 'content/content.scss';
}

