.info {
    max-width: 18.056vw;
    height: 9.023vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: 1024px) {
        height: auto;
    }

    @import 'logo/logo.scss';

    @import 'content/content.scss';
}

