.info {
    max-width: 18.056vw;
    height: 9.167vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @import 'logo/logo.scss';

    @import 'content/content.scss';
}

