@import '../../colors-and-type/colors-and-type.scss';

.like-button {
  display: flex;
  align-items: center;
  width: fit-content;
  border-width: 1px;
  border-radius: 10px;
  border-style: solid;
  border-color: $dark_25-color;
  padding: 3px 10px 3px 6px;
  cursor: pointer;

  &__icon {
    font-size: 10px;
    margin-right: 5px;
    background: $dark_25-color;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    &_theme_liked {
      background: $purple-color;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__counter {
    font-size: 10px;
    line-height: 12px;
    color: $dark_25-color;

    &_theme_liked {
      color: $purple-color;
    }
  }

  &_theme_liked {
    border-color: $purple-color;
  }
}
