include ../checkbox/checkbox

mixin rich-checkbox({ label, name, details, checked=false }={})
  .rich-checkbox
    +checkbox({ label: label, name: name, checked: checked })
    .rich-checkbox__details= details
