@import '../../colors-and-type/colors-and-type.scss';

.header {
  background-color: #fff;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);

  &__wrapper {
    max-width: 1920px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 9.72%;
    margin: 0 auto;

    @media (max-width: 1200px) {
      padding: 15px 5%;
    }

    .logo {
      margin-right: auto;

      @media (max-width: 1020px) {
        margin-right: 20px;
      }

      @media (max-width: 440px) {
        display: none;
      }
    }

    .menu {
      margin-right: 30px;
      position: relative;

      .nav-menu {
        @media (max-width: 1020px) {
          display: none;
        }
      }

      .menu-active {
        position: absolute;
        top: 50px;
        display: flex;
        flex-direction: column;
        background: #fff;
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        padding: 10px 20px;
        z-index: 3;

        .nav-menu__item {
          margin-bottom: 10px;

          .submenu-active {
            left: 100%;
            top: 0;
          }
        }
      }
    }

    .burger-menu {
      display: none;
      cursor: pointer;
      font-size: 30px;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-color: $purple-color;

      @media (max-width: 1020px) {
        display: block;
      }
    }

    .burger-menu::after {
      content: "menu";
    }

    .cross-icon::after {
      content: "close";
    }

    .name__login {
      border-left: 1px solid $dark_10-color;
      padding-left: 35px;
    }

    .buttons__wrapper {
      display: flex;

      @media (max-width: 540px) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .button {
        padding: 10px 20px 9px 19px;
      }

      .button--border {
        padding: 8px 18px 7px;
        margin-right: 20px;

        @media (max-width: 540px) {
          margin-right: 0;
          margin-bottom: 10px;
        }
      }
    }
  }

}
