@import '../../colors-and-type/colors-and-type.scss';

.header {
  background-color: #fff;
  padding: 15px 140px;
  display: flex;
  align-items: center;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);

  .menu {
    margin-left: auto;
    margin-right: 30px;
  }

  .name__login {
    border-left: 1px solid $dark_10-color;
    padding-left: 35px;
  }


  .buttons__wrapper {
    .button {
      padding: 10px 20px 9px 19px;
    }

    .button--border {
      padding: 8px 18px 7px;
      margin-right: 20px;
    }
  }
}
