include ../logo/logo
include ../menu/menu
include ../button/button

mixin header({ list=[], reg })
  header.header
    +logo({ui: false})
    +menu({list: list})
    if reg.on
      .name__login= reg.name
    else
      .buttons__wrapper
        +button({title: 'Login', border: true})
        +button({title: 'register'})


