include ../logo/logo
include ../menu/menu
include ../button/button

mixin header({ list=[], reg, buttons })
  header.header
    .header__wrapper
      +logo({ui: false})
      +menu({list: list})
      if reg.on
        .login-name= reg.name
      else
        .buttons
          +button({title: buttons.title1, link: true, href: 'sign-in.html'}).button_theme_border
          +button({title: buttons.title2, link: true, href: 'sign-up.html'})
