//- .cards__column--item-7
//-     .sample-room
//-         .sample-room_image
//-             .sample-room_image-left
//-                 i.material-icons keyboard_arrow_left
//-             .sample-room_image-right
//-                 i.material-icons keyboard_arrow_left
//-             .ellipses
//-         .sample-room-info
//-             .sample-room-info_price.booking-header
//-                 p.booking-number <small>№</small> 840
//-                 p.booking-luxury
//-                 p.booking-cost <strong>9 990&#x20bd</strong><small> в сутки</small>
//-             .sample-room-info_reviews
//-                 - var stars = [11,12,13,14,15]
//-                 +rateBtn
//-                 p <bold>65</bold> Отзывов
