div(class='dropdown-data')
    div(class='dropdown-data__form-text') data dropdown
    form(class='dropdown-data__form')
        input(class='dropdown-data__form-input' type='date')
        a(class='dropdown-data__form-input-expand' href='#')
