div(class='dropdown-data')
    div(class='dropdown-data__form-text') data dropdown
    form(class='dropdown-data__form')
        input(class='dropdown-data__form-input' type='date')
        a(class='dropdown-data__form-input-expand' href='#')

.number-selection__dates
    input(type='text' data-range="true" data-multiple-dates-separator=" - " class="datepicker-here" id="dpicker")
    i(class='material-icons') expand_more