$dark_100-color: #1F2041;
$dark_75-color: rgba(31, 32, 65, 0.75);
$dark_50-color: rgba(31, 32, 65, 0.5);
$dark_25-color: rgba(31, 32, 65, 0.25);

.dropdown-data {
    display: block;
    height: 65px;
}
.dropdown-data__form {
    position: relative;
    width: 150px;
}
.dropdown-data__form-input {
    display: block;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    height: 42px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.9px;
    padding-left: 14px;
    color: $dark_75-color;
}
.dropdown-data__form-text {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 5px;
    color: $dark_100-color;
}
.dropdown-data__form-input::placeholder {
    color: $dark_75-color;
}
.dropdown-data__form-input:focus::placeholder {
    color: $dark_75-color;
}
.dropdown-data__form-input:focus{
    border: 1px solid rgba(31, 32, 65, 0.5);
}
.dropdown-data__form-input-expand {
    position: absolute;
    top: 0;
    right: 0;
    background-image: url('/form-elements/dropdown-data/svg/expand.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 44px;
    height: 44px;
}

//Datapicker
.ui-datepicker {
    width: 320px;
    height: 369px;
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    border-radius: 4px;
    padding: 20px;
}
.ui-datepicker-header {
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    color: #1F2041;
    text-align: center;
}
.left-column .ui-widget-header {
    background: #FFF;
}
.ui-datepicker-prev:before {
    content: "arrow_back"; 
    font-family: "Material Icons";
    color: #BC9CFF;
    cursor: pointer;
}
.ui-datepicker-next:after {
    content: "arrow_forward"; 
    font-family: "Material Icons";
    color: #BC9CFF;
    cursor: pointer;
}
.ui-datepicker-title {
    color: #1F2041;
}
.ui-datepicker-calendar {
    font-size: 12px;
    text-decoration: none;
}
.ui-datepicker-week-end,
.ui-datepicker thead {
    color: #BC9CFF;
    font-weight: bold;
}
.ui-datapicker th {
    display: block;
    width: 40px;
    height: 40px;
}
.ui-datepicker-unselectable {
    color: rgba(31, 32, 65, 0.25);
}