div(class='dropdown-data')
    div(class='dropdown-data__form-text') data dropdown
    form(class='dropdown-data__form')
        input(class='dropdown-data__form-input' type='date')
        a(class='dropdown-data__form-input-expand' href='#')

.number-selection__dates
    label(for="from") From
        input(type="text" id="from" name="from")
.number-selection__dates
    label(for="to") to
        input(type="text" id="to" name="to")