.dropdown-data {
    display: block;
    height: 65px;
}

.dropdown-data__form-text {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 5px;
    color: $dark_100-color;
}