div(class='cards')
    div(class='cards__column--left')
        include cards__column--item-1/cards__column--item-1.pug
        include cards__column--item-2/cards__column--item-2.pug
    div(class='cards__column--center')
        include cards__column--item-3/cards__column--item-3.pug
        include cards__column--item-4/cards__column--item-4.pug
