.cards
    .cards__column--left
        include cards__column--item-1/cards__column--item-1.pug
        include cards__column--item-2/cards__column--item-2.pug
    .cards__column--center
        include cards__column--item-3/cards__column--item-3.pug
        include cards__column--item-4/cards__column--item-4.pug
    .cards__column--right
        include cards__column--item-5/cards__column--item-5.pug
        include cards__column--item-6/cards__column--item-6.pug
        include cards__column--item-7/cards__column--item-7.pug