.cards {
    width: 1440px;
    height: 1350px;
    background: #F4F4F6;
    display: flex;
    padding: 140px;
}
@import 'cards__column--item-1/cards__column--item-1.scss';
@import 'cards__column--item-2/cards__column--item-2.scss';
