div(class='number-selection')
    include number-selection__name/number-selection__name.pug
    div(class='number-selection__arrival-and-departure')
        include number-selection__dates/number-selection__dates.pug
        include number-selection__dates/number-selection__dates.pug
    div(class='number-selection__guests')
    div(class='number-selection__button')
