.number-selection {
    max-width: 26.388vw;
    display: flex;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px 30px 30px;
    flex-direction: column;

    @media(min-width: 1441px) {
        padding: 2.777vw 2.083vw 2.083vw;
    }

    @media(max-width: 1240px) {
        min-width: 320px;
    }

    h1 {
        margin-bottom: 20px;

        @media(min-width: 1441px) {
            margin-bottom: 1.388vw;
        }
    }
}
.number-selection__arrival-and-departure {
    display: flex;
}
.number-selection .dropdown_date {
    margin-bottom: 22px;

    @media(min-width: 1441px) {
        margin-bottom: 1.527vw;
    }
}
.number-selection .dropdown_default {
    margin-bottom: 32px;

    @media(min-width: 1441px) {
        margin-bottom: 2.222vw;
    }
}